[2011-11-05 13:11] tomvandenberge opened #2 "DataLoader doesn't work in 1.0.1.1"
Hi,
I'm using cassandra-unit 1.0.1.1, and I'm getting a nasty exception when executing the code from the xml example:

EmbeddedCassandraServerHelper.startEmbeddedCassandra();
DataLoader dataLoader = new DataLoader("TestCluster", "localhost:9171");
dataLoader.load(new ClassPathXmlDataSet("simpleDataSet.xml"));

2011-11-05 13:53:37,897 [pool-2-thread-2] ERROR cassandra.thrift.Cassandra$Processor - I

[2011-11-07 20:09] #2 closed, assigned to nobody

[2011-12-23 12:08] tomvandenberge opened #3 "Support for indexes?"
Hi Jérémy,

It looks like there is currently no support for indexes on columns. Is there a way to make this work?

Thanks,
Tom

[2011-12-28 11:41] tomvandenberge opened #5 "Inserting byte keys"
Hi,

It looks like I can't insert binary values as keys, like so:

<row>
    <key>bytes(369ff963196dc2e5fe174dad2c0c6e9149b1acd9)</key>
        ...

The key will be "bytes(369ff963196dc2e5fe174dad2c0c6e9149b1acd9)". I've tried with and without keyType=BytesType, and with and without bytes() function,  but no luck.

Maybe the same goes for column names, but I haven't tried it.

Tom

[2011-12-28 13:47] #3 closed, assigned to jsevellec

[2011-12-30 20:37] #5 closed, assigned to jsevellec

[2012-01-16 21:07] alewisohn opened #6 "ColumnsMetadata in JSON structure interprets the value of the "name" property incorrectly"
I'm not sure if this is by design (and I'm pretty new to Cassandra and Hector so it could be), but if I supply a JSON dataset with a CF that has column metadata, the parser automatically interprets the value of `name` as the name of the index for that column. However, I'm not actually indexing the column, I'm just providing a validator for the column value. For example, the snippet below would cau

[2012-01-21 20:46] Tielem opened #7 "defaultColumnValueType possibly gets ignored when using hector CQL"
We are trying to test our cassandra + hector code using cassandra-unit.
To do so, we made the following fixture: http://pastebin.com/76zjghQ9

We are able to retrieve the data inside the fixture by doing a hector CQL call

SELECT \* FROM test;

However, when trying to update or insert a row with the following query

UPDATE test USING CONSISTENCY ALL SET 'method' = 'namedMethodValue', 'unnamedMetho

[2012-01-23 15:39] #7 closed, assigned to jsevellec

[2012-01-23 15:40] #6 closed, assigned to jsevellec

[2012-02-02 17:58] dmdevito opened #8 "create embedded Cassandra server with its own cassandra.yaml file"
The EmbeddedCassandraServerHelper class includes the startEmbeddedCassandra() method.

The "cassandra.yaml" file used by the embedded Cassandra server is the one given into the cassandra-unit distribution.

Is it possible to have an alternate startEmbeddedCassandra() method enabling the embedded Cassandra server to use whatever "cassandra.yaml" file is given as a parameter ?
Thanks.

[2012-02-07 12:55] #8 closed, assigned to jsevellec

[2012-03-18 13:32] pime opened #9 "Support more schema options about column family?"
As like :  row_cache_size, key_cache_size

[2012-03-20 15:52] jsevellec opened #10 "allow to set indexName into ColumnMetadata on a ColumnFamily"
By default, when an indexType is set on a columnMetadata, the indexName is set with the columnMetada.name of the dataSet.

the idea is to allow to set the indexName by adding an indexName attribute in the dataset in the columnMetadata level

[2012-05-01 09:37] jsevellec opened #12 "allow to set your own cassandra.yaml when using @Rule"

[2012-05-01 19:05] jsevellec opened #13 "change port of embedded cassandra instance to avoid conflict with a local instance of cassandra"
It's already the case for the rpc_port but not for over port like storage_port and ssl_storage_port

[2012-05-08 11:18] #10 closed, assigned to jsevellec

[2012-05-08 11:35] #13 closed, assigned to nobody

[2012-05-08 12:02] jsevellec opened #14 "update to hector-core version 1.0-5 and cassandra-all 1.0.9"
update the version of hector and cassandra-all

[2012-05-08 12:11] #14 closed, assigned to jsevellec

[2012-05-24 09:08] sorenvind opened #15 "Overwriting log4j.configuration is bad"
If using a log4j properties file already, it is overwritten by the EmbeddedCassandraServerHelper. This is probably not the desired behaviour (it makes it difficult to use it embedded anywhere).

[2012-05-24 09:11] sorenvind opened #16 "Make target folder configurable"
It would be nice to have TMP in EmbeddedCassandraServerHelper be configurable

[2012-06-04 10:34] #16 closed, assigned to nobody

[2012-06-08 20:13] #9 closed, assigned to jsevellec

[2012-06-08 20:16] jsevellec opened #18 "update to hector 1.1-0 and cassandra-all 1.1.1"

[2012-06-08 22:30] #18 closed, assigned to jsevellec

[2012-06-20 07:44] #15 closed, assigned to nobody

[2012-06-20 07:45] #12 closed, assigned to nobody

[2012-06-20 07:49] jsevellec opened #21 "support new cassandra type in cassandra-unit"
BooleanType
DateType
DoubleType
FloatType
Int32Type

[2012-06-20 08:06] rjtg opened #22 "column metadata name can only be utf8"
it is not possible to provide column metadata if comparatorType is not UTF8Type as the column metadata property name will always be interpreted as UTF8 and will not use functions

from DataLoader.java:
line 252:
columnDefinition.setName(ByteBuffer.wrap(columnName.getBytes(Charsets.UTF_8)));

something like this for instance is impossible:

{
    "name" : "keyspace",
    "columnFamilies" : [{

[2012-07-17 05:36] scottbessler opened #24 "ability to either pass in yaml contents or pass a filesystem file to use as the yaml file"
Our CI server runs into issues with multiple builds running simultaneously for different branches that end up attempting to use the same port for the embedded cassandra.

I can programmatically create or modify my yaml file but cannot come up with a way given the current implementation to get cassandra-unit to use it.

I don't mind adding this feature to EmbeddedCassandraServerHelper myself, but g

[2012-07-24 14:23] ptomli opened #27 "Support for reversed comparators"
I'm trying to create a schema which contains columns with composite comparators and a reverse component

My dataset.yaml looks like

[code]

This doesn't seem possible, looking at ComparatorTypeHelper and the way it looks up a ParsedDataType.

Also, pull request #23 doesn't seem to handle this, from what I can see

http://thelastpickle.com/2011/10/03/Reverse-Comparators/

[2012-08-07 12:32] #21 closed, assigned to nobody

[2012-08-29 14:26] edgurgel opened #28 "Column values shouldn't be expected"
The column values are expected, but Cassandra can handle columns without a value, just using a name to map. The dataset.xsd file has this description:

It should be possible to describe a column without a value.

[2012-09-25 10:45] rahja opened #29 "CompositeType for column values"
Support for CompositeType in 'column values' is required.

cassandra-unit currently support composite types in "row key" and "column name". What I am looking for is composite type in 'column values'.

I think there should be an option to add "CompositeType" in "validationClass" and then a utility method something like composite(), on the same lines as utf8() to set values.

Following should be pos

[2012-10-03 12:38] edgurgel opened #30 "Column timestamp can't be defined for each column"
Right now, we can define the name and the value of a column. But I can't see how the timestamp can be defined.

[2012-10-03 13:15] #24 closed, assigned to nobody

[2012-10-04 10:27] #28 closed, assigned to jsevellec

[2012-10-08 16:15] jsevellec opened #36 "inconsistent jaxb generation (about getter on Boolean) with jdk1.6 and jdk1.7"

[2012-10-08 16:15] #36 closed, assigned to jsevellec

[2012-10-08 18:12] jsevellec opened #37 "update to casandra-all 1.1.5"

[2012-10-08 18:14] jsevellec opened #38 "update to hector 1.1-1"

[2012-10-08 19:01] #30 closed, assigned to jsevellec

[2012-10-08 19:04] #37 closed, assigned to jsevellec

[2012-10-08 19:05] #38 closed, assigned to jsevellec

[2012-10-10 17:36] edgurgel opened #40 "allow to set different type in column name"
I would like to describe a DefaultComparatorType. So we could have something like this:

[code]

The default column name is Long, but it would be possible to describe other column names.

Am I asking something stupid? Or using the wrong definitions?

[2012-10-10 20:48] edgurgel opened #41 "Null column values not working properly"
I was trying to use the new feature (7461282abf875fb2ee970bab8ae2e8edbe60a9f8). Then I tried using the cu-loader:

[code]

Other yamls, jsons and xmls test resources work. I don't know if I`m doing somethiing wrong.

[2012-10-11 09:32] #41 closed, assigned to nobody

[2012-10-11 13:07] jsevellec opened #42 "incompatibility using columnMetadata and functions (to override type in column value)"
when setting column metadata for a column family, "function for value" is not interpreted.

[2012-10-11 13:26] #42 closed, assigned to jsevellec

[2012-10-11 14:42] #22 closed, assigned to trecloux

[2012-10-22 22:07] romainbiard opened #43 "Unable to escape parenthesis in a value"
Hi,

I would like to init from a json file a value containing some parenthesis like :

{
                "name" : "backgroundColor",
                "value" : "utf8(rgb(0,0,0))"
}

but only 'rgb(0,0,0' was stored in cassandra. I tried to escape them
"value" : "utf8(rgb\(0,0,0\))"
or "value" : "utf8('rgb(0,0,0)')"
but I was unable to deal with that.

Thanks

[2012-10-23 06:49] #43 closed, assigned to jsevellec

[2012-10-23 09:30] pakko opened #44 "Can't load data which column value include nested json object"
I use nosqlunit-cassandra which use cassandra-unit as its engine, when I load/parser json data file with column value includ nested json object such as
{
    "name" : "monitoring_service",
    "replicationFactor" : 1,
    "strategy" : "org.apache.cassandra.locator.SimpleStrategy",
    "columnFamilies" : [{
        "name" : "at_workreq",
        "type" : "STANDARD",
        "keyType" : "TimeUUIDTyp

[2012-10-24 08:36] #44 closed, assigned to jsevellec

[2012-10-26 14:37] jsevellec opened #45 "dataset assertion against a cassandra instance"

[2012-12-04 12:43] marccarre opened #46 "Configure cassandra-unit with specific version of Hector and Cassandra."
Hi,

To avoid all the:
- NoSuchMethodException
- IncompatibleClassChangeError
- etc.

due to conflicting dependencies, would it be possible to have a way to configure cassandra-unit with the versions used in client projects?

I guess this would also avoid having to release new versions of cassandra-unit just to upgrade to different versions of Hector/Cassandra.

Thanks & Regards,

Marc.

P.S. : Ha

[2012-12-07 12:11] marccarre opened #47 "Support for standard CLI commands and CQL as a data set / configuration format"
Hi,

In addition to XML, JSON and YAML, it would be good to support:
- Plain CLI commands
- CQL commands

Thanks & Regards,

Marc.

P.S. : Happy to help implementing this, provided some guidance.

[2012-12-10 08:09] jsevellec opened #48 "support cassandra java-driver"

[2012-12-19 05:04] #46 closed, assigned to nobody

[2013-01-02 20:52] mkhettry opened #49 "Incompatible version of com.googlecode.concurrentlinkedhashmap.ConcurrentLinkedHashMap"
I'm using cassandra-unit 1.1.1.2. When I try to start a cassandra server (using EmbeddedCassandraServerHelper.startEmbeddedCassandra()), I get this error.

2:50:45.785 [pool-8-thread-1] ERROR o.a.c.s.AbstractCassandraDaemon - Exception encountered during startup
java.lang.NoSuchMethodError: com.googlecode.concurrentlinkedhashmap.ConcurrentLinkedHashMap$Builder.maximumWeightedCapacity(I)Lcom/google

[2013-01-03 08:44] #49 closed, assigned to nobody

[2013-02-08 09:15] #27 closed, assigned to nobody

[2013-02-15 10:08] jsevellec opened #56 "cassandra 1.2 and hector 1.1-2 support"

[2013-02-15 10:14] #56 closed, assigned to jsevellec

[2013-04-12 15:29] ghost opened #57 "'key name' in data set"
Is there a way to specify 'key name' in the data set?

The class I'm testing has a CQL 3 query like this:
SELECT my_key, my_column1 FROM table1 WHERE my_key = 'key1';
In my Cassandra unit test, I'm getting:
com.datastax.driver.core.exceptions.InvalidQueryException: Undefined name my_key in selection clause
  at com.datastax.driver.core.exceptions.InvalidQueryException.copy(InvalidQueryException.ja

[2013-06-10 14:18] obazoud opened #61 "Spring extension"
Would you be interested by a casssandra unit extension for Spring ?

Spec by example:

[code]

CassandraUnitTestExecutionListener should extend AbstractTestExecutionListener to start / start an embedded cassandra and CassandraDataSet should load dataset.
Yes it is like Cassandra(CQL)Unit but in Spring World.

Tell me if you are interested, I will do a PR.

[2013-06-10 14:20] obazoud opened #62 "Load multiple dataset"
it would be useful to have multiple datasets to load
Actually, subclasses of CQLDataSet are limited to only one dataset.

[2013-06-10 14:31] obazoud opened #63 "Multiline CQL dataset"
The current implementation of SQL dataset only supports one line operation not multi line.

It would be useful to load CQL by statement for pleasant reading, for example allow to load the following dataset cql:

[code]

[2013-06-13 06:45] jsevellec opened #64 "allow to delegate or not the keyspace creation to cassandra-unit when using a CQL dataset"

[2013-06-13 16:27] #64 closed, assigned to jsevellec

[2013-06-13 20:43] #63 closed, assigned to nobody

[2013-06-20 13:19] #61 closed, assigned to nobody

[2013-06-20 13:19] #62 closed, assigned to nobody

[2013-06-20 13:19] #48 closed, assigned to nobody

[2013-06-28 12:31] adinapoli opened #66 "Plans to support "list, map, set" types?"
Hello,

as you know CQL3 have this types, and the correspondence between Java and CQL3 is here:

http://www.datastax.com/doc-source/developer/java-driver/#reference/javaClass2Cql3Datatypes_r.html

Unfortunately, it seems you are not yet supporting those types in your datasets, as here:

https://github.com/jsevellec/cassandra-unit/blob/master/cassandra-unit/src/main/java/org/cassandraunit/dataset/c

[2013-07-31 12:27] kelouaaziza opened #67 "@Autowired not working"
Hi,

after adding @TestExecutionListeners({ CassandraUnitTestExecutionListener.class })
in JUnit test, the @Autowired does not work.

Thanks,
K.

[2013-08-08 21:24] dinomite opened #68 "Old snappy-java dependency"
I get this error trying to use cassandra-unit within my Java 7 app on Mac OS 10.7.5:

[code]

Java version:

[code]

This is a [bug in snappy-java 1.0.4.1](https://github.com/ptaoussanis/carmine/issues/5) that was [fixed in 1.0.5](http://code.google.com/p/snappy-java/issues/detail?id=39).  Indeed, adding a dep on a version 1.0.5 of snappy-java to my build.gradle fixes this:

[code]

Cassandra 1.2.

[2013-11-05 10:18] knight1128 opened #70 "support for cassandra 2.0"
Hi

I tried to use cassandra 2.0 lib, failed.
IllegalAccessError occured, Can you fix this?

java.lang.IllegalAccessError: tried to access method com.google.common.collect.MapMaker.makeComputingMap(Lcom/google/common/base/Function;)Ljava/util/concurrent/ConcurrentMap; from class org.apache.cassandra.service.StorageProxy
    at org.apache.cassandra.service.StorageProxy.<clinit>(StorageProxy.java:84

[2013-11-14 12:53] #68 closed, assigned to nobody

[2013-11-29 17:08] #70 closed, assigned to jsevellec

[2013-12-01 15:53] ezoerner opened #71 "Dataset with keyspace using NetworkTopologyStrategy?"
Has cassandra-unit been tested with datasets that have a keyspace that uses NetworkTopologyStrategy? There is nothing in the yaml definition to specify the datacenter along with the replication factor; does it assume that the replication factor is for the local data center?

[2013-12-02 10:37] #67 closed, assigned to nobody

[2013-12-02 10:39] #47 closed, assigned to nobody

[2013-12-12 05:45] edwardcapriolo opened #73 "EmbeddedServer should not always clean dir"
Sometimes you want to start with known data files and having the constructur always clean is not appropriate.

[2013-12-12 07:55] #66 closed, assigned to nobody

[2014-01-15 01:51] prowave opened #74 "OOM - unable to create new native thread"
Jeremy,

I am on the Spring-Data-Cassandra team and we are making good use of cassandra-unit.  Nice work!

We have an issue that only occurs on Macs, and we have a large number of test cases.  As you can imagine, all of our integration tests use cassandra-unit. :)

It seems almost like each test doesn't thoroughly clean up after itself before forking a new cassandra instance.  We have tried with a

[2014-01-29 10:00] chschmitz opened #75 "cassandra-unit 2.0.2.0 implicitly depends on commons-lang >= 2.5, yet doesn't declare dependency"
I tried hooking up cassandra-unit 2.0.2.0 with cassandra-2.0.4 and hector-core-1.1-4.

In that constellation, hector-core happens to depend on commons-lang-2.4, which cassandra-unit tries to use, but fails:

[code]

The `startsWithAny` method appeared in commons-lang-2.5.

cassandra-unit itself doesn't declare a dependency on commons-lang, but obviously uses it as witnessed by the NoSuchMethodErro

[2014-01-30 07:30] #75 closed, assigned to nobody

[2014-02-11 04:01] bp-alex opened #76 "Please clarify license"
I am unclear whether this project is GPL or LGPL:
- The home page [1] states the license is LGPL 3.0 but links to GPL 3.0.
- The pom.xml [2] states the license is LGPL 3.0 and links to LGPL 3.0.
- The license.txt [3] contains GPL 3.0.
- A Stackoverflow comment [4] states the license is GPL 3.0 (which may confuse potential users if this project is not GPL 3.0).

As a testing library, I'd assume LGP

[2014-02-11 07:48] #76 closed, assigned to nobody

[2014-02-20 15:13] jetoile opened #77 "EmbeddedCassandra : waiting 10 seconds may not be enough"
On old computer, when using a embeddedCassandra, waiting 10 seconds may not be enough before trying to load a cql script.

Indeed, in the class EmbeddedCassandraServerHelper (method startEmbeddedCassandra), a hard coded wait (startupLatch.await(10, SECONDS)) is done.
However when using a CQLDataLoader just after (manually or by spring annotations), a connection error occur.
Increasing this value t

[2014-03-07 17:41] tigran10 opened #80 "AbstractCassandraUnitTestExecutionListener fails with Spring 4"
In Spring 4 TestContext become interface instead of class with DefaultTestContext as an implementation. AbstractCassandraUnitTestExecutionListener fails because it expects class but not interface.

java.lang.IncompatibleClassChangeError: Found interface org.springframework.test.context.TestContext, but class was expected
    at org.cassandraunit.spring.AbstractCassandraUnitTestExecutionListener.st

[2014-03-17 08:49] ochrons opened #82 "Datastax Cassandra driver 2.0.1 is incompatible with CUnit 2.0.2.0"
We are using driver 2.0.1 in our codebase, which is incompatible with Cassandra Unit 2.0.2.0

[code]

Session interface now extends `java.io.Closeable` which may be the culprit.

[2014-03-27 15:09] ahll opened #83 "How could I get cassandra-unit to support Spring 4?"
I want to use Spring 4.0, because I could get more features in Java and without Xmls. But I also use Cassandra , and require cassandra-unit to do Dao layer testing, and cassandra-spring-unit cannot work with Spring 4.0 .

[2014-03-31 15:49] #82 closed, assigned to nobody

[2014-04-01 09:55] #80 closed, assigned to nobody

[2014-04-01 15:48] #83 closed, assigned to nobody

[2014-04-02 12:57] fkoehler opened #84 "In 2.0.2.1: exception during load of embedded cassandra"
When running
[code]
in version 2.0.2.1 we get the exception:

[code]

[2014-04-02 17:03] fkoehler opened #85 "Cassandra load time is minimum 10 seconds long"
This might not be really an issue but I do not understand it. When I run cassandra from the commandline I can boot it up in about 2-3 seconds but when running the

[code]

code it takes a minimum of 10 seconds. This is not related to the 10s CountdownLatch which works fine. Any idea why this is the case?

[2014-04-02 18:16] stantonk opened #86 "Need to be able to test with different versions of cassandra"
Hi, we are using cassandra 1.1.12 and I cannot get cassandra-unit to work, I get:

`
java.lang.UnsupportedClassVersionError: org/apache/cassandra/io/util/FileUtils : Unsupported major.minor version 51.0
    at java.lang.ClassLoader.defineClass1(Native Method)
    at java.lang.ClassLoader.defineClassCond(ClassLoader.java:637)
    at java.lang.ClassLoader.defineClass(ClassLoader.java:621)
    at jav

[2014-09-03 13:47] mkaberman opened #90 "Exception inside CassandraUnitTestExecutionListener"
I am trying to use cassandra unit-spring and getting an exception inside CassandraUnitTestExecutionListener:
WARN o.s.test.context.TestContextManager - Caught exception while allowing TestExecutionListener [org.cassandraunit.spring.CassandraUnitTestExecutionListener@1787f2a0] to process 'after' execution for test: method [public void com.emc.polaris.admin.persistence.cassandra.RolesManagementTest.

[2014-09-25 10:58] ahll opened #91 "Could I change the tmp dir of embedded Cassandra when I use Cassandra Spring Unit ?"
I read that http://planetcassandra.org/blog/reduce-integration-test-time-by-94-by-using-ramdisk/, and I am interesting to reduce the Junit test time.
Thus I treid to find the option to change the tmp dir of embedded Cassandra with Cassandra Spring Unit, but it is seemed not support by annotation configuration.

My configuration>

@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(loader

[2014-09-29 14:27] #91 closed, assigned to nobody

[2014-10-09 09:11] rsertelon opened #96 "Bug in CassandraUnitDepedencyInjectionTestExecutionListener ?"
Hi,

For my tests, I have to use CassandraUnitDepedencyInjectionTestExecutionListener to benefit from Spring's dependency injection.

I've stumbled upon a problem. In my case, I use prepared statements, and inserts fail if they are not in the first executed test of my test class.

Indeed, these prepared statements are created once, on Spring context's creation. The TestExecutionListener provided i

[2014-10-10 12:33] rnjn opened #97 "Unable to start EmbeddedCassandra on Centos"
Hi,

I am facing a peculiar problem with the latest SNAPSHOT, this appears only on a centos box (works fine on my mac).

Here's where I see an error in the logs -

[code]

Selinux isn't turned on, I ran this with elevated previliges as well, correct path etc.
My tests were working fine till gradle pulled the latest snapshot, so I am hoping its a commit in the last couple of weeks that's causing th

[2014-10-22 17:06] #90 closed, assigned to nobody

[2014-10-22 17:50] mkaberman opened #98 "Exceptions at the end of the class with cassandra-unit-spring"
I am using cassandra unit spring 2.0.2.2 and after each test class I am getting series of exceptions. Judging by the trace it seems that Spring closes Cassandra connection, but something is still trying to communicate with Cassandra. The exception does not affect the test results, but still I would like to get rid of it. This is my test class. It has no tests, but I am still getting an exception a

[2014-11-03 19:23] mohitanchlia opened #103 "Exception when starting embedded cassandra"
I am getting following exception:

java.lang.IllegalAccessError: tried to access method com.google.common.collect.MapMaker.makeComputingMap(Lcom/google/common/base/Function;)Ljava/util/concurrent/ConcurrentMap; from class org.apache.cassandra.service.StorageProxy
Exception encountered during startup: tried to access method com.google.common.collect.MapMaker.makeComputingMap(Lcom/google/common/base

[2014-11-03 20:22] mohitanchlia opened #104 "Thrift exception"
When I start cassandra in embedded mode I get the following. At this point no request has been sent to Cassandra, just tried to connect to it

12:15:27.435 [Thread-2] INFO  o.a.cassandra.thrift.ThriftServer - Listening for thrift clients...
12:15:28.895 [ScheduledTasks:1] DEBUG o.a.c.service.LoadBroadcaster - Disseminating load info ...
12:15:32.448 [main] INFO  sony.snei.datastore.physical.cassan

[2014-11-20 13:36] DoNuT1985 opened #105 "Log4j configuration not used in cassandra-unit-2.0.2.2"
We were using 2.0.2.1 for quite extensive tests of our project's CQL layer and we've upgraded to 2.0.2.2 due to various file access errors with cassandra DB store files.

However, with the current version for some reason log4j configuration is omitted and we're getting tons of output bumping up our nightly build durations from 6-10 minute up to 1+ hour.

This can easily reproduced by cloning https

[2014-12-06 02:09] malterb opened #106 "EOFException"
Hi,

I am not sure it is a cassandra-unit problem, but it only occurs on tests using cassandra-unit. On my personal machine everything works fine, but when I try to test on my dev server I immediately run into the following problem:

[code]

Tried it on Ubuntu 12 and Ubuntu 14 and both have the same problem. Memory issues?

[2014-12-08 17:37] #106 closed, assigned to nobody

[2015-01-05 21:00] burtonator opened #107 "Using a forked process?"
I'm dealing with dependency hell trying to get Apache Spark and Cassandra Unit working together.

Long story short, it's a mess.  There are like 6-7 conflicting libs.  Apache Spark works well by itself, and so does Cassandra Unit.. but together, they're a mess.

Has any work been done to try to get Cassandra Unit working as a forked process? This way the tests and cassandra don't have to have the

[2015-01-10 01:28] mohitanchlia opened #108 "PermGen"
Is there a way to pass PermGen space when starting the embedded server? I am facing a unique issue where I get out of memory perm gen space for some reason when I try to start another in memory database for my integration test. I see embedded server actually launches another VM

17:21:53.520 [pool-13-thread-1] INFO  o.a.c.service.CassandraDaemon - Hostname: US5C514F818ADF
17:21:53.521 [pool-13-thr

[2015-01-12 22:01] goetzingert opened #109 "Exception when shutting down after Testmethod"
I use
<groupId>org.cassandraunit</groupId>
<artifactId>cassandra-unit-spring</artifactId>
<version>2.0.2.2</version>
<scope>test</scope>

Test Setup works perfect. The embedded cassandra instance is started. The test runs successful.

The exception occurs in "empty-tests" as well:

@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(classes = CassandraConfiguration.class, loader = Annota

[2015-01-15 16:10] ColinMc commented on #74
My company is also running into this issue. We are also using Spring Data Cassandra and using Spring Cassandra Unit.

[2015-01-15 20:29] #96 closed

[2015-01-19 15:59] mkaberman opened #110 "Intermittent Cassandra connection failures"
I am observing strange behavior with my unit tests: on some hosts the tests intermittently are unable to connect to embedded Cassandra instance. I made sure that nothing on the hosts is using port 9142 or other Cassandra ports. The exception I am getting is :

:07:06:51.981 [pool-1-thread-1] WARN  org.apache.cassandra.utils.CLibrary - Unable to lock JVM memory (ENOMEM). This can result in part of

[2015-01-26 05:23] mxk1235 opened #111 "CQLDataLoader does not understand CQL comments"
I am playing around with examples, and trying to execute the following file.cql.

and the following load code

Note, that I commented out the CREATE KEYSPACE statement, in favor of passing keyspace name and keyspace autocreate flag to the CQLDataSet object.

However, this fails with this error.  It is because the cassandra driver is attempting to execute the query line which contains nothing but t

[2015-01-30 09:45] jsevellec commented on #111
Hi!

Thanks for reporting that issue. I will have a look asap

[2015-02-09 15:51] boneill42 commented on #109
You need to call close() on the cluster. You can drop this in a tearDown method like this:

    @After
    public void tearDown() throws InterruptedException{
        LOG.debug("Tearing Down.");
        cqlUnit.cluster.close();
    }

[2015-02-10 02:27] justinhrobbins commented on #109
I am seeing the same issue.

@boneill42, in the cassandra-unit-spring scenario how would we call cqlUnit.cluster.close()?  It seems the TestExecutionListener should be performing any necessary cleanup.

[2015-02-10 02:40] justinhrobbins commented on #67
The CassandraUnitDependencyInjectionTestExecutionListener really helped me with issues trying to use cassandra-unit-spring with an @Autoriwed Spring Data Cassandra bean.

@jsevellec may i suggest adding a reference to the CassandraUnitDependencyInjectionTestExecutionListener to the 'Spring for Cassandra unit' wiki page?

[2015-02-10 07:37] jsevellec commented on #67
sure will do

[2015-02-10 07:39] #84 closed

[2015-02-10 15:57] boneill42 commented on #109
Agreed.  We aren't using the spring version, so we have direct access to the cluster object.

I took a quick look, and it appears as though it should go here:
https://github.com/jsevellec/cassandra-unit/blob/master/cassandra-unit-spring/src/main/java/org/cassandraunit/spring/AbstractCassandraUnitTestExecutionListener.java#L102-L104

The cluster object appears to be available here:
https://github.c

[2015-02-17 19:14] vijaykramesh commented on #98
on cassandra-driver-core 2.1.3, cassandra-unit 2.0.2.2 I see a whole bunch of similar errors on shutdown. It doesn't affect tests, but makes the test output relatively useless...

[code]

[2015-02-18 22:38] prakhar0104 commented on #109
I am seeing the same issue as above.
@boneill42
Can you please help !!

[2015-02-19 15:18] jsevellec commented on #109
The problem is already existing while running the test suite (with maven for instance) on the cassandra-unit project itself. It's not specific to the cassandra-unit-spring part. I'm trying to fix that but to be transparent, at the moment, i don't have a lot of free space to investigate this problem... any help would be appreciated...

[2015-02-22 17:31] jaceksokol opened #112 "startEmbeddedCassandra doesn't use tmpDir parameter"
This is just a really small issue - when using `EmbeddedCassandraServerHelper#startEmbeddedCassandra(String, String)` to create embedded server instance, second parameter is ignored (`tmpDir`).

[2015-02-27 09:25] PierreVincent commented on #110
I'm getting similar intermittent errors:
[code]

These are happening with Cassandra-Unit 2.0.2.1 and 2.0.2.2

[2015-02-27 10:02] PierreVincent commented on #110
I've only experienced this problem on my CI environment, so it's likely that the 10 seconds timeout is too short in some cases (especially if there are multiple builds running simultaneously).

It looks like https://github.com/jsevellec/cassandra-unit/pull/89 might be a way to sort this out. From 2.0.2.2 it's now possible specify another timeout for the EmbeddedCassandra startup.

[2015-03-05 12:49] HarvinderBhullar commented on #96
Hi

CassandraUnitDep... is great because it starts the embedded server first. My issue is when spring context is getting loaded it is connecting with my local cassandra server. How to make sure that autowired repository uses only embedded cassandra server.
Thanks

[2015-03-05 13:58] rsertelon commented on #96
This is a configuration matter.

What I do is put the connection configuration in a properties file. When running tests, I simply give Spring another properties file with connection properties set to the embedded cassandra.

[2015-03-05 14:17] HarvinderBhullar commented on #96
Thats what I am doing but it is loading the spring context before starting the embedded cassandra server.

[2015-03-05 14:23] rsertelon commented on #96
Aaah so you have the same bug I was facing :)

I fixed that in a PR some times ago: https://github.com/jsevellec/cassandra-unit/pull/100

It's in master, but not released yet, is seems that @jsevellec cannot spend time on the project for now... ;)

[2015-03-05 14:28] HarvinderBhullar commented on #96
Yes :) I am using released version waiting for the fixed to be released :)

[2015-03-05 14:42] HarvinderBhullar commented on #96
It just seems to work when I did the following

@TestExecutionListeners( {   CassandraUnitDependencyInjectionTestExecutionListener.class,DependencyInjectionTestExecutionListener.class })

I hope this is repeatable. (When I am putting DependencyInjection... first then i is failing)

[2015-03-05 15:26] jsevellec commented on #96
I'll try to release it next week

[2015-03-05 15:42] HarvinderBhullar commented on #96
Thanks jsevellec

[2015-03-14 22:36] justinhrobbins commented on #74
I am seeing the same issue on OSX.  Strangely, it runs without error on another OSX machine.

[2015-03-15 19:40] jsevellec commented on #111
fixed by #116

[2015-03-15 19:40] #111 closed

[2015-03-15 20:27] jsevellec commented on #112
fixed in #113

[2015-03-15 20:27] #112 closed

[2015-04-04 17:27] tetrawgf opened #118 "Apostrophe in text value datasets does not work anymore"
SimpleCQLLexer.class

It looks like you detect double simple quote but you do not advance. So on the second simple quote, it just go back to the DEFAULT state.

[code]

[2015-04-20 14:16] jiteshvassa opened #121 "Embedded Cassandra starts up on port 9142 rather than 9042"
From the Cassandra wiki (https://wiki.apache.org/cassandra/FAQ#ports):

"... 9042 for native protocol clients..."

cassandra-unit seems to start of port 9142 by default.  It would be nice to change this to 9042 so that things work out of the box.

[2015-04-24 16:27] PierreVincent commented on #110
Sorry it's been a while but coming back to confirm than upgrading to 2.0.2.2 and starting the Cassandra server using the following code has sorted out the random connection failures I was getting on my build server.

[code]

 This will increase the startup timeout to 20s (instead of 10s default).

[2015-04-27 20:59] sireeshal commented on #110
I am running into the same issue. Increasing timeout didn't help in my case. How to check what version of being used in Embedcassandra? I have 2.0.10 and 2.1.0 versions of cassandra installed locally.

[2015-05-08 16:18] jsevellec opened #123 "update to 2.1.5 cassandra-all and java-driver"

[2015-05-08 16:28] #123 closed

[2015-05-10 08:52] pwais commented on #98
Might this issue get fixed in a new of cassandra-unit?

[2015-05-11 23:13] apandey092 opened #124 "Not able to find the class CassandraCQLUnit, ClassPathCQLDataSet"
I tried to run the examples in my code https://github.com/jsevellec/cassandra-unit-examples/blob/master/src/test/java/org/cassandraunit/test/cql/CQLScriptLoadTest.java

added the dependency

[code]

But, code could not find classes CassandraCQLUnit, ClassPathCQLDataSet.
 is the documentation outdated?

I would appreciate if I can get the examples which work or point me if I am doing something wron

[2015-05-11 23:18] apandey092 commented on #124
got it working with latest package:
[code]

[2015-05-11 23:18] #124 closed

[2015-05-14 09:30] apandey092 commented on #124
I was able to make it work with

[code]
and by default cassandra boots up with port 9142

[2015-05-14 09:42] apandey092 opened #125 "Update wiki with working version with cassandra-unit-examples"
Update wiki with working version

Current:

[code]

Working version:

[code]

I updated the version in wiki, but realised I might be breaking the version contracts in other parts of wiki, so reverted it back to 1.1.1.2

[2015-05-27 00:56] trejkaz commented on #121
OTOH, deliberately testing against a different port would catch bugs in apps which hardcode the port number...

[2015-05-27 06:40] jsevellec commented on #121
It has been done for this reason and also to no disturb any other local default installation of cassandra running on the same machine

the issue #119 will also solve the problem

[2015-05-27 06:40] #121 closed

[2015-06-23 12:09] magnusart opened #126 "Does cassandra-unit support SSL connections?"
Hi

For the akka-persistence-cassandra I have added support for using SSL with the datastax driver. I also setup a unit test for SSL that I can not get to work. Do you have any examples of using cassandra-unit with SSL enabled for tests?

The client setup works when using a live server setup. The server setup looks correct. As far as I've seen the keystore and truststore are accessed correctly (as

[2015-06-25 10:05] ukjbrown opened #128 "EmbeddedCassandraServerHelper Startup Timeout"
[code]

How would you increase the timeout? The MILLISECONDS constant doesn't even exist, hence why the output contains the word "MILLISECONDS", I'm surprised this works at all.

[2015-06-25 10:08] ukjbrown commented on #128
Note I get somewhat random test fails because the embedded server doesn't startup correctly. The startup seems to freeze at the following point;

[code]

The I receive;
[code]

Sometimes this happens, other times it works fine. Clearly I can't commit my tests to our CI server. Is anyone else experiencing anything like this?

I'm using Spring ```@EmbeddedCassandra```

spring-unit-spring version 2.1

[2015-06-25 10:13] jsevellec commented on #128
I've recently received a PR that i've going to integrate about that #127

[2015-06-25 10:16] ukjbrown commented on #128
Thanks. I'm not sure if the timeout will actually fix the issue though as I think the actual cause may be something different as I'm surprised I'm hitting the timeout on my machine. When the test works there is zero pause at this stage, but when it fails it sits there for about 5 seconds and fails.

I'm running the tests on a brand new i7 MacBook Pro with little else going on, so if the timeout is

[2015-06-25 10:29] ukjbrown commented on #128
I've just removed use of ```@EmbeddedCassandra``` and replaced with direct API usage;

[code]

and the problem still occurs, except now it just waits even longer at the same stage;

[code]

I ran the test about 6 times in a row, the first 5 times it ran successfully with no pause whatsoever, then the final time the above happened.

[2015-06-25 10:33] ukjbrown commented on #128
30 seconds - still no success. I don't think there is any link to the timeout in this case, the server appears to be doing something unexpected.

[code]

[2015-06-25 10:36] ukjbrown commented on #128
The last comment in #110 possibly displays the same symptoms.

[2015-06-25 10:38] ukjbrown commented on #110
@sireeshal did you ever resolve this issue in your build? Increasing the timeout has also not resolved intermittent failures for me.

[2015-06-25 10:41] ukjbrown commented on #128
I'm wondering if there is some sort of race condition in the Cassandra startup as when the startup fails the COMMIT-LOG-ALLOCATOR thread spits out the previously mentioned log entries later in the cycle (after the sstable_activity initialisation). When the startup succeeds, these log messages are much further up the log (almost right at the top). ?

[2015-06-29 12:37] davidsloan-eduserv opened #129 "Incompatibilty between DataStax cassandra driver and cassandra-unit"
I've been trying to add some coverage of our Cassandra code.  We've using datastax cassandra 2.2.0-rc1.

On start-up I'm seeing this:

 13:15:30.635 [SharedPool-Worker-1] ERROR Message [538] - Unexpected exception during request; channel = [id: 0x76adfe6e, /127.0.0.1:37079 => /127.0.0.1:9142]
io.netty.handler.codec.DecoderException: org.apache.cassandra.transport.ProtocolException: Invalid or unsu

[2015-07-13 08:08] sparhomenko commented on #128
@ukjbrown We had a similar problem on our CI server, please try out #132.

@jsevellec Please note that #132 for us does not eliminate the need for #127 - even without the race condition default timeout of 10 seconds is not always enough to initialise Cassandra on slower CI machines.

Also, `MILLISECONDSms` is a typo and is already fixed on master with #130.

[2015-07-13 08:31] ukjbrown commented on #128
Thanks @sparhomenko, is there actually a fix for #132 ?

[2015-07-13 09:10] sparhomenko commented on #128
@ukjbrown #132 is a PR with a potential fix, you can try it from my branch or wait until @jsevellec merges it to master and try from there.

[2015-07-13 12:02] ahll opened #133 "Dos cassandra unit support CUSTOM INDEX?"
Hi
   Now Cassandra allows to use external plugin such as Stratio’s Cassandra Lucene Index,  and I have tried following testing with cassandra unit:

"CREATE CUSTOM INDEX IF NOT EXISTS tags_index ON experiencehasbtagnndex (lucene) USING  \n"
            + "      'com.stratio.cassandra.lucene.Index' WITH OPTIONS = { \n "
            + "'refresh_seconds' :  '1', \n"
            + "'schema' : '{ "

[2015-07-13 12:37] jsevellec commented on #133
Hi,

As soon as you've got the library in your classpath, it should work.

[2015-07-13 13:20] ahll commented on #133
Hi,
  I put the dependency in the maven, and it works.
  Thanks and regards.

[2015-07-14 09:40] ahll commented on #133
Hi,

 I found another problem that I can insert data with Cassandra Unit, but I cannot use specific query which coming from Stratio’s Cassandra Lucene Index.An example is that I cannot do following query with Cassandra Unit :

"SELECT * FROM  experiencehasbtagnndex WHERE lucene  = ' {query : {type:"contains", field:"taglist", values : ["a","b"]},filter : { type: "range", field:"time",upper:0
 , in

[2015-07-23 17:57] glaucio-melo-movile commented on #128
Hi,

to solve this issue I had to change io.netty version at cassandra-all deps (it's fully functional here). I have committed this change locally. Also, I've updated cassandra-all to the newest stable release as well as the cassandra driver (and fixed two test cases). Let me know how's your SCM model in order to proceed (I've got a permission denied from cassandra-unit repo)

Cheers,
Glaucio Melo

[2015-07-24 14:44] thehiflyer commented on #98
I'm seeing the same issue using cassandra-unit 2.1.3.1

[2015-07-25 21:56] magnusart commented on #126
Hi, do you have any thoughts about above? This is still an issue for us.

[2015-07-27 08:30] jsevellec commented on #126
Hi,

Sorry for the late answer. Unfortunately, I never tried cassandra-unit with SSL.

[2015-07-27 10:34] magnusart commented on #126
Ok. Do you know any reason to why it would not work? Is the server started in the same way as with running it in production. With default ports and communication over tcp etc.

[2015-07-27 10:47] jsevellec commented on #126
If you start cassandra-unit with default options, it's using this cassandra.yml conf : https://github.com/jsevellec/cassandra-unit/blob/master/cassandra-unit/src/main/resources/cu-cassandra.yaml

Have you got a version of your tests working ok without the ssl conf?

[2015-07-27 13:41] magnusart commented on #126
Yes it works when I do not have the SSL configuration setup. I've also seen that the config does read the keystores (I had the wrong path at first). The client code works fine when connecting to real clusters.

[2015-07-30 21:38] szetheli opened #135 "yaml file not in root directory prevents startup"
testCompile('org.cassandraunit:cassandra-unit:2.1.3.1')
testCompile('org.apache.cassandra:cassandra-all:2.1.8')
testCompile 'com.google.guava:guava:18.0'

EmbeddedCassandraServerHelper.startEmbeddedCassandra("config/cassandra.yaml");

Results in exception:
2015-07-30 14:37:45,098 EventType=ERROR LogName=org.apache.cassandra.config.DatabaseDescriptor [main,{}]:
Fatal configuration error
org.apache.

[2015-08-14 23:10] cretz opened #136 "Update Cassandra to 2.2.0"
The `cassandra-all` JAR is at 2.2.0 and there are some fixes (e.g. [CASSANDRA-8390](https://issues.apache.org/jira/browse/CASSANDRA-8390) that would help. I don't believe this can be done via a simple upgrade because there are some binary incompatibilities.

[2015-08-17 11:48] Augi commented on #136
I prepared Pull Request almost one month ago so it will be hopefully accepted soon: https://github.com/jsevellec/cassandra-unit/pull/134

[2015-08-24 16:10] dariodariodario commented on #135
I've the same issue here

[2015-08-30 16:56] sbrannen opened #137 "Improve documentation regarding default Spring TestExecutionListeners"
The current [documentation in the wiki](https://github.com/jsevellec/cassandra-unit/wiki/Spring-for-Cassandra-unit) displays examples that completely disable the default functionality of the Spring TestContext Framework.

The reason is that all examples in the wiki configure only the `CassandraUnitTestExecutionListener`, thereby effectively disabling **all** other `TestExecutionListener` implement

[2015-08-31 12:13] rabejens opened #138 "System slows down to a crawl when using this from ScalaTest"
I set up a very simple ScalaTest which simply starts the embedded Cassandra server, loads a very simple CQL file which only creates a keyspace, and the test only creates one table. However, when running this, the system slows down to a crawl, even freezing the mouse pointer. Increasing Java heap size does not help. What is going wrong here?

When running the same test against a "real" Cassandra se

[2015-08-31 12:31] rabejens commented on #138
Never mind, it turned out that I created the Cluster and Session objects too often.

[2015-08-31 12:31] #138 closed

[2015-09-01 11:52] sougatabh opened #140 "Getting Exception with datastax driver"
Below is the Exception I am getting, could you please help.

17:19:12.378 [Native-Transport-Requests:10] WARN  o.apache.cassandra.utils.FBUtilities - Trigger directory doesn't exist, please create it and try again.
17:19:12.379 [Native-Transport-Requests:10] DEBUG o.a.c.l.AbstractReplicationStrategy - clearing cached endpoints
17:19:12.385 [Native-Transport-Requests:10] DEBUG org.apache.cassandra.

[2015-09-08 18:59] jsevellec commented on #140
is it making your test failing or is it just a log?

[2015-09-08 19:00] jsevellec commented on #137
thanks for the report. I'll change that

[2015-09-08 19:03] jsevellec commented on #137
done : https://github.com/jsevellec/cassandra-unit/wiki/Spring-for-Cassandra-unit

[2015-09-08 19:07] jsevellec commented on #133
I think that you have to configure your plugin to create indexes in the same places as cassandra-unit creates working directory for cassandra

[2015-09-08 19:08] jsevellec commented on #129
I'm currently working to try to make cassandra-unit working using cassandra 2.2

[2015-09-08 19:29] sbrannen commented on #137
Thanks!

[2015-09-08 19:29] #137 closed

[2015-09-08 19:38] sbrannen commented on #137
By the way, I just realized that I can actually edit the wiki myself. :wink:

So I made some [additional changes](https://github.com/jsevellec/cassandra-unit/wiki/Spring-for-Cassandra-unit/_compare/97be317432f55323c51b4599f0fe94e3e7865523...6739449c70cf6fb30c8b5ea9d87252793cb0bdfb).

[2015-09-08 19:42] jsevellec commented on #137
yes, but that's fine. Nobody wants to update a wiki ;-)

[2015-09-10 07:16] leomrocha commented on #140
Same issue here, It's making the test fail.

Here the logs:
    [Hector.me.prettyprint.cassandra.connection.CassandraHostRetryService-1] INFO  m.p.c.connection.HConnectionManager - Added host localhost(127.0.0.1):9171 to pool
    15:47:20.501 [specs2.fixed.env-351641755-1] DEBUG m.p.c.c.client.HThriftClient - keyspace reseting from null to cassakeyspace
    15:47:20.567 [Thrift:4] DEBUG o.a.cassan

[2015-09-10 07:21] sougatabh commented on #140
For me test is passed but, feel query is not getting executed.

[2015-09-16 14:21] mortias commented on #129
we experience some sort of same issue? is it related?
our applications use apache-cassandra-2.1.6 but in the logs i see apache-cassandra-2.1.4

io.netty.handler.codec.DecoderException: org.apache.cassandra.transport.ProtocolException: Invalid or unsupported protocol version: 22
        at io.netty.handler.codec.ByteToMessageDecoder.callDecode(ByteToMessageDecoder.java:280) ~[netty-all-4.0.23.Final

[2015-09-26 07:07] philwebb opened #142 "Allow CassandraUnitTestExecutionListener to use a random port"
It would be helpful if `CassandraUnitTestExecutionListener` could use a random port with `@EmbeddedCassandra(port=0)`. The actual port used could be found using `SocketUtils.findAvailableTcpPort` and made available as a Spring `Environment` property for the tests to pick up.

[2015-09-26 07:57] jsevellec commented on #142
I think that waht you're looking for is already available (but, unfortunately, not documented) : https://github.com/jsevellec/cassandra-unit/pull/119

[2015-09-26 08:26] philwebb commented on #142
Perfect, thanks! I was running an older release so I hadn't notice that update.

[2015-09-26 08:26] #142 closed

[2015-10-01 19:24] ashishsoni opened #143 "JSON INSERT Query"
Not sure if this is supported or not , Please see below error

preparedStatement = session.prepare("INSERT INTO model.table JSON ?");
com.datastax.driver.core.exceptions.SyntaxError: line 1:39 mismatched input '?' expecting ')'

Version

<groupId>org.cassandraunit</groupId>
			<artifactId>cassandra-unit</artifactId>
			<version>2.1.3.1</version>

[2015-10-13 03:13] jiangliangnihao opened #144 "ClassPathCQLDataSet cannot support to load datafile with different charset"
when my datafile charset is UTF-8,my jvm default charset is iso-8895-1,so many test fail because different charset,so add new parameter to change charset is best,but now I cannot find a place to input,
public List<String> getLines();not support this;so i had to extand new class to overload this function.

![image](https://cloud.githubusercontent.com/assets/14174469/10444635/63a17618-719b-11e5-94b9

[2015-10-13 20:19] jsevellec commented on #136
It's now available in master and will be part of the next release thanks to @Augi #134 #139

[2015-10-13 20:19] #136 closed

[2015-10-14 14:39] jsevellec opened #145 "update to cassandra 2.2.2 and java driver 2.1.8"

[2015-10-14 14:41] #145 closed

[2015-10-15 11:14] ukjbrown opened #146 "Spring integration testing not working"
There doesn't appear to be any documentation for using the CassandraUnitDependencyInjectionIntegrationTestExecutionListener and DependencyInjectionTestExecutionListener, but I proceeded to try to use them based on examples;

[code]

However, I receive the following Exception when the test runs;

[code]

[2015-10-15 12:29] Augi commented on #146
It looks like you are using different version of `cassandra-driver-core` than `cassandra-unit` does. Can you confirm that, please?

[2015-10-15 13:18] ukjbrown commented on #146
Hmm, I haven't explicitly defined the cassandra-driver-core dependency, but it could possibly be coming from spring-data-cassandra? I've tried with spring-data-cassandra 1.2.0 and 1.3.0 and neither appear to work.

[2015-10-15 13:34] ukjbrown commented on #146
Adding a specific dependency on 2.1.7.1 seems to have got rid of the Exception, but its now failing to load the dataset.

The following manual initialization works;
[code]

However, using the cassandra-unit-spring annotations (as in my first post) produces the following;
[code]

[2015-10-18 08:57] Augi commented on #77
As #89 is merged, this issue can be closed, right?

[2015-10-18 15:00] jetoile commented on #77
Hi,

Thx for the correction.
I think it should be ok.

[2015-10-18 15:00] #77 closed

[2015-10-19 14:14] cranst0n opened #149 "Using in SBT"
I'm trying to use cassandra-unit within SBT and I have a simple test working with one issue. Here's a stripped down version of my test code:

[code]

When I run `test` within SBT the tests pass and it drops me back to the SBT prompt. I can tell that the embedded cassandra daemon is still running after the test completes via `netstat -ltn` as I can see ports 9142, 7010 and 9171 are open. When I exi

[2015-10-19 15:01] cranst0n commented on #149
Turns out I had a typo in my SBT config file and forking was the answer to this problem. Adding the following to my build definition resolves the issue:

[code]

[2015-10-19 15:01] #149 closed

[2015-10-26 15:40] mNantern opened #150 "Incorrect CQLLexer"
Hi !

I have an issue with the SimpleCQLLexer: I want to insert a complex JSON string into Cassandra and I have the following error:

[code]

The issue can be reproduced with the following CQL (simplified) file:

[code]

That file can be imported without issue in Cassandra but doesn't work with Cassandra Unit.

Thank you!

[2015-10-27 09:31] jsevellec commented on #150
Hi,

Thanks for the reporting this. I'll have a look

[2015-11-19 14:23] ogg1e opened #151 "NoSuchMethodError: org.apache.cassandra.utils.FBUtilities.toWriteUTFBytes"
For some reason, when I upgraded to the latest (2.2.2-SNAPSHOT) I now get this at startup of my tests. I'm using the same dependencies that is in the pom. 2.1.8 for cassandra-driver and 2.2.2 for cassandra-all

It used to work with 2.1.9.2 and the older cassandra driver.
`
Nov 19, 2015 10:06:22.564/AST [pool-1-thread-1] [exitOrFail] ERROR Exception encountered during startup
java.lang.NoSuchMethod

[2015-11-19 14:52] ogg1e commented on #151
I think I've figured out the issue. I'm in dependency hell.
We use spark as well, and use spark-cassandra-connector version 1.4.0, which depends on cassandra-clientutil 2.1.5

That dependency has a different version of the FBUtilities class.
uggh

[2015-11-20 19:25] ashishsoni opened #152 "Is support for 2.2.2 is released yet or when it is scheduled to release"

[2015-11-23 11:07] jsevellec commented on #152
Hi,

There's already a quite stable snapshot of cassandra-unit supporting cassandra 2.2.2
(https://oss.sonatype.org/content/repositories/snapshots/)

I'm currently waiting for the release of the 2.2.0 of the java driver to go ahead with the cassandra-unit release.

[2015-11-23 16:42] depend opened #154 "random NoHostAvailableException on startup"
It's similar to https://groups.google.com/forum/#!topic/cassandra-unit-users/ttVeJAyq6KY
For any given test it has 50% chance to fail on startup. Then it's OK if I rerun it. For a project with a few tests it's almost impossible to get a clean run.

[2015-11-27 10:05] ukjbrown opened #155 "Port in use by another process - startup/shutdown? problem with embedded Cassandra"
On our build server, we get intermittent faults when running Cassandra integration tests;

org.apache.cassandra.exceptions.ConfigurationException: localhost/127.0.0.1:7010 is in use by another process.  Change listen_address:storage_port in cassandra.yaml to values that do not conflict with other services

There is only one build running at the time and there are only 3 tests that use the embedded

[2015-11-27 10:24] aepsil0n commented on #98
This issue looks related to [this Cassandra issue](https://issues.apache.org/jira/browse/CASSANDRA-8220) and it appears to be fixed in 2.2.1.

[2015-11-29 11:34] amichair commented on #152
I was wondering as well... good to know why we're waiting :-)

btw from what I gather there won't be any java driver 2.2 - the first driver to support Cassandra 2.2.x will be the 3.0.0 driver, which is currently in alpha 5 and is expected to be released sometime in December.

[2015-11-29 12:13] Augi commented on #152
I also think that there won't be 2.2 driver. There is relatively fresh 2.1.9 that works well.

[2015-12-09 13:48] jsebrien commented on #110
not for me either

[2015-12-09 17:24] grubino commented on #67
This was really helpful.  I didn't see `CassandraUnitDependencyInjectionTestExecutionListener` on the wiki.  I would have found this much quicker if it were there.

[2015-12-10 14:33] JosephKiranBabu commented on #135
@szetheli @dariodariodario Did you guys find any workaround for this issue?

[2015-12-10 23:04] scmadmin opened #156 "Any way to load multiple CQL files?"
I have my test data CQL and schema CQL in multiple files.  CassandraCQLUnit only takes one DataSet and the ClassPathCQLDataSet only can take a single script.

Attempting to do something like this fails, probably because DataSet seems to want column families along with statements.

[code]

Any possible way to do this?   I would imagine many larger cassandra projects have their schema split up into

[2015-12-16 18:24] jarrod-ledrew-vgh opened #157 "."

[2015-12-18 02:20] pavanraotk opened #158 "Gradle build and maven build generates NoHostAvailableException"
Hi All,

We are using embeddedCassandra in our test code. We have multiple tests(for each entity, we have a test code with embeddedCassandra).

Embedded cassandra version:

testCompile 'org.cassandraunit:cassandra-unit-spring:2.1.9.2'

Pre-test class annotations below:

@RunWith(SpringJUnit4ClassRunner.class)
@TestExecutionListeners({
        CassandraUnitTestExecutionListener.class,
        Depen

[2016-01-04 15:27] depend commented on #152
per https://groups.google.com/a/lists.datastax.com/forum/m/#!topic/java-driver-user/Vu0cD0BguMc, it seems 2.2.x has been discontinued and 3.x will become the recommended version soon.

[2016-01-04 15:29] jsevellec commented on #152
cassandra-unit 2.2.2.1 has been released

[2016-01-04 15:29] #152 closed

[2016-01-05 19:43] jamesoliverband commented on #158
Did you try to increase timeout?

@EmbeddedCassandra(timeout = 30000L)

[2016-01-05 19:49] jamesoliverband opened #159 "NoSuchMethodError: com.datastax.driver.core.Cluster$Builder.addContactPoints"
I am getting the following error

java.lang.NoSuchMethodError: com.datastax.driver.core.Cluster$Builder.addContactPoints(Ljava/lang/String;)Lcom/datastax/driver/core/Cluster$Builder;
    at org.cassandraunit.spring.AbstractCassandraUnitTestExecutionListener.startServer(AbstractCassandraUnitTestExecutionListener.java:63)

My UnitTest looks like this:

@RunWith(SpringJUnit4ClassRunner.class)
@Spring

[2016-01-06 04:54] pavanraotk2 commented on #158
James,

I tried that now, it works. I will test it on Jenkins in a few hours, once done, we can actually close this issue :).

Thanks for the help.

Warm regards,
Pavan

[2016-01-06 12:27] OrangeDog opened #160 "CQLDataLoader doesn't use keyspace unless it's being created."
Means the keyspace name has to be duplicated in the cql script, instead of just setting it in the DataSet.

[2016-01-06 12:50] OrangeDog commented on #156
By default ClassPathCQLDataSet erases the keyspace before running the scripts.
You need to disable this for all subsequent imports.

    dataLoader1.load(new ClassPathCQLDataSet("schemaTwo.cql", false, false));

However, you then hit issue #160.

[2016-01-06 13:05] OrangeDog opened #161 "BaseCassandraUnit.after should call cluster.close()"
Otherwise you get problems like #109.

[2016-01-06 14:11] OrangeDog commented on #107
That would also solve the conflicts between cassandra-all and cassandra-driver-core caused by metrics-core having changed its groupid but not its package names.

[2016-01-06 14:33] Sandmania commented on #107
I do have some terrible dependency issues to which a custom shaded cassandra-unit brings some relief, but the metrics-core is something that I haven't been able to fix yet. Cassandra maven plugin (https://github.com/mojohaus/cassandra-maven-plugin) might help us here, but is at the moment based on an old version of cassandra and cassandra-unit, and does not support CQL3 for instance.

[2016-01-06 14:37] OrangeDog commented on #107
I made sure cassandra-unit was listed first, so its dependencies go on the classpath before those of the driver.
This seems to have worked.

Alternatively, you can fiddle about with dependency exclusions, but this required a lot more work to deal with differing scopes.

[2016-01-06 15:11] OrangeDog commented on #107
A forked process would also allow communication with the server while the tests are suspended in a debugger.

[2016-01-06 15:17] Sandmania commented on #107
I think I could give cassandra-maven-plugin a go when I get the chance. Upgrading to a newer cassandra-unit shouldn't be too difficult...

[2016-01-06 15:22] scmadmin commented on #156
I was able to do this by subclassing CassandraUnit and overriding load

[code]

[2016-01-06 15:22] #156 closed

[2016-01-06 15:52] OrangeDog commented on #161
I notice that `CassandraCQLUnit` is attempting to close the cluster on exit.
There must be something wrong as I can still resolve #109 by adding `@AfterClass public static void shutdown() { cassandra.getCluster().close(); }`

[2016-01-06 18:25] jamesoliverband commented on #158
Great it works out for you!
May I ask you for my own issue which spring-data-cassandra version you use?

Thanks in advance!

[2016-01-07 04:22] pavanraotk2 commented on #158
I am using the version of 2.2.2.1 of cassandra-unit-spring.

For the actual DB interaction, we use cassandra-driver-mapping of 2.1.9, since it's more of a POJO kind which looks a lot similar to JPA, not spring-data-cassandra(somehow we didn't want to depend on spring-data for cassandra, not my decision).

[2016-01-08 06:32] ptgoetz opened #163 "Consider different license"
A lot of Apache projects could benefit from this project, but can't due to the LGPL license. Would you consider changing it?

http://www.apache.org/legal/resolved.html#faq

[2016-01-08 08:05] jsevellec commented on #163
Hi,

It's not planned but i'm happy to discuss about that.

I'm not a license software expert but from what i've seen, i think that having cassandra-unit as a test dependency is allowed.

[2016-01-08 16:15] jwcarman opened #164 "Speed Issues When Using Driver 2.1.6+"
First of all, thanks for all your hard work on this library!  This really saves us a ton of time!

I'm working on a library which uses cassandra-unit for testing and we're trying to upgrade the Cassandra driver version we're using.  From what I can tell, it seems that there is a very noticeable speed degradation when you go from driver version 2.1.5 to 2.1.6 and above.  I even start to see test fa

[2016-01-11 14:56] mamghari opened #165 "java.lang.NoSuchMethodError: com.codahale.metrics.Snapshot: method <init>()V not found"
Hi,

I have some issues with my Cassandra Unit Tests, could you please help ?
I am not using Spring, and don't want to use it. I exclude nothing, just added the dependencies. It is really annoying. May be there is a manner to deactivate the metrics ?

My cassandra unit version is as following:
[code]
StackTrace :
[2016-01-11 15:37:31] -  INFO Cluster:1460 [main] New Cassandra host localhost/127.0.

[2016-01-11 18:58] ptgoetz commented on #163
I've looked deeper into the issue, and the answer to the question "May Apache projects have dependencies with prohibited licenses in test code?" seems to be "No."

https://issues.apache.org/jira/browse/LEGAL-207

(see the final comment when the issue was closed.)

[2016-01-12 10:00] pavanraotk2 commented on #158
@jamesoliverband : I am not sure this is working, the same issue is turning up(there was a problem in Jenkins and hence I couldn't test it).

java.lang.IllegalStateException at DatabaseConnectorImplTest.java:42
com.datastax.driver.core.exceptions.NoHostAvailableException
    Caused by: com.datastax.driver.core.exceptions.NoHostAvailableException

[2016-01-12 14:35] jsebrien opened #166 "New version based on cassandra 3.0.x ?"
Hello,

Is it possible to release a new version based on cassandra 3.0.x?

Regards,

Julien

[2016-01-14 08:41] prakapenka commented on #135
Have same issue by the way.
Seems there is no workaround on it.
When cassandra starts it uses class 'org.apache.cassandra.config.YamlConfigurationLoader' to load yaml file.
Take a look here:
https://github.com/apache/cassandra/blob/4a0d1caa262af3b6f2b6d329e45766b4df845a88/src/java/org/apache/cassandra/config/YamlConfigurationLoader.java#L68

It is reads the
[code]
value that we did previously set

[2016-01-14 09:27] jsevellec commented on #135
hi @prakapenka,

thanks for the investigation. I'm looking forward to the PR ;-)

[2016-01-14 11:26] OrangeDog commented on #165
Problem is probably that com.codahale.metrics:metrics-core used by cassandra-driver-core is conflicting with io.dropwizard.metrics:metrics-core used by cassandra-all.

I don't know whose smart idea it was to change the groupid but not the classes' package...

Related: #107

[2016-01-14 11:45] OrangeDog commented on #108
No, it doesn't start a new JVM, it's just logging the info from the JVM you've started it in.

[2016-01-14 12:06] lzvtrifork commented on #165
It does seem to work if you force dependency replacement, and only use io.dropwizard.metrics:metrics-core, but I have no idea of how different the API is, so that is probably a runtime exception waiting to happen.

I think the right solution is to upgrade to Cassandra driver 3.0, which also uses io.dropwizard.metrics:metrics-core, because they plan on obsoleting all other drivers anyway. Although

[2016-01-14 12:12] lzvtrifork commented on #164
My experience is that driver 2.1.7 performs much better than 2.1.8 and 2.1.9. It seems that CQL data loading is much slower with the new driver, and especially schema update queries. I am not observing any slowness in production though, just unit testing.

In numbers, my unit tests run in:
40 sec with 2.1.7
2 min 15 sec with 2.1.9

[2016-01-14 12:45] OrangeDog commented on #165
That's why I'm doing it with classpath ordering, so it only affects tests and not runtime.

Problem with the driver upgrade is the breaking changes, and Spring hasn't been updated for them yet.

[2016-01-14 15:12] mamghari commented on #165
As solution, I forced the dependency to
[code]
Now it works well. So it means that this version is now used as library by Maven.

It seems that Maven didn't manage well this, may be because of the change of groupId.

Thank you for your answers.

[2016-01-14 15:12] #165 closed

[2016-01-20 03:23] huhuhong opened #167 "Create Schema with User Defined Type (UDT) had failed?"
I'm assuming UDT is not supported currently.

May i know when will it be supported?

[2016-01-20 10:29] dmitry-vasilyuk commented on #159
I have the same exception as described above.

My configuration:

Java test class contains the following annotations:

@RunWith(SpringJUnit4ClassRunner.class)
@TestExecutionListeners({DependencyInjectionTestExecutionListener.class})
@TestExecutionListeners({CassandraUnitDependencyInjectionIntegrationTestExecutionListener.class, DependencyInjectionTestExecutionListener.class})
@CassandraDataSet(val

[2016-01-20 10:29] dmitry-vasilyuk commented on #146
I have the same exception as described above.

My configuration:

Java test class contains the following annotations:

@RunWith(SpringJUnit4ClassRunner.class)
@TestExecutionListeners({DependencyInjectionTestExecutionListener.class})
@TestExecutionListeners({CassandraUnitDependencyInjectionIntegrationTestExecutionListener.class, DependencyInjectionTestExecutionListener.class})
@CassandraDataSet(val

[2016-01-20 13:25] depend commented on #154
This happens when EmbeddedCassandra starts too often. So instead of starting an instance per test, I now start the EmbeddedCassandra instance per suite. This helps a lot. Now I rarely see this error.

[2016-01-20 15:21] eshepelyuk commented on #166
We're also interesting in this, We end up in using custom hacked version with disabled tests, although it does the job

[2016-01-28 18:28] jamesoliverband commented on #159
did you manage to solve the problem? For me it still not works.

[2016-02-02 08:44] MALPI opened #169 "JUnit Rule not useable with ClasspathCQLDataset"
Since `ClassPathCQLDataset` is not implementing `Dataset` Interface it's not useable in the `CassandraJUnitRule`.

[2016-02-02 08:56] MALPI commented on #146
Same issue here, I am using the datastax java driver, which has a dependency to `cassandra-diver-core:3.0.0`.

[2016-02-02 09:00] MALPI commented on #166
+1 Currently cassandraunit is not usable for us at all.

[2016-02-02 18:51] scrapmac opened #170 "Cassandra waits for multiple minutes before shutting down"
Hi,

I am using cassandraunit to start a cassandra server like:

        EmbeddedCassandraServerHelper.startEmbeddedCassandra();
        Cluster cluster = new Cluster.Builder().addContactPoints("127.0.0.1").withPort(9142).build();
        Session session = cluster.connect();
        CQLDataLoader dataLoader = new CQLDataLoader(session);
        dataLoader.load(new ClassPathCQLDataSet("configuratio

[2016-02-03 10:26] jimenefe commented on #150
Hello Jérémy. I hit the same bug. I have forked the project  and implemented a fix. Would be great if you could take a look and merge if you are happy with it

https://github.com/jimenefe/cassandra-unit/commit/6cde0f7502fa2d5496482e725d16ab8509ed960f

Cheers
FJ

[2016-02-03 10:27] jsevellec commented on #150
Hi @jimenefe

Cool!

It would be great if you can provide a PR.

Cheers,

Jérémy

[2016-02-03 10:29] jimenefe commented on #150
done

[2016-02-03 10:30] jsevellec commented on #150
thanks!

[2016-02-12 13:30] cosh commented on #146
Same here

[2016-02-15 01:58] nilsonfreitas commented on #146
I have the same issue.... My env is the following:

- Apache cassandra version **3.3**.
- Driver: com.datastax.cassandra:cassandra-driver-core:3.0.0
- Unit: org.cassandraunit:cassandra-unit:2.2.2.1

Is cassandra unit **2.2.2.1** compatible with datastax **3.0.0** driver? I believe the issue is here...

[2016-02-15 03:03] nilsonfreitas commented on #166
Support for cassandra 3.0 would be great!

[2016-02-15 03:07] nilsonfreitas commented on #146
I've checked Is cassandra unit **2.2.2.1** dependencies and seems it uses an older version of datastax  driver:

<cu.cassandra.driver.version>2.1.9</cu.cassandra.driver.version>

This is why I was getting the same exception...

[2016-02-15 14:02] MALPI commented on #166
Is actually anyone working on this? Probably #168 is related to that?

[2016-02-15 14:02] MALPI commented on #157
Should be closed...

[2016-02-15 14:06] #157 closed

[2016-02-15 14:11] jarrod-ledrew-vgh commented on #157
I have to apologize for this as I don't know how this happened. I certainly have no recollection of even looking at this project much less posting an empty comment. I was doing some work with Cassandra in December of last year but didn't look at unit testing. Again, sorry for wasting your time guys.

[2016-02-15 14:11] jsevellec commented on #157
no problem!

[2016-02-15 14:13] jsevellec commented on #166
yes it's totally related. I'm about to integrate the PR #168 to master to release it

[2016-02-15 14:16] MALPI commented on #166
any ETA on this?

[2016-02-15 14:17] jsevellec commented on #166
I'll try to do that this week

[2016-02-15 14:17] MALPI commented on #167
Probably this is a follow up on #166 since UDT's are earliest possible with 2.3 as far as I know

[2016-02-23 13:10] OrangeDog commented on #164
Some of my results for timing `cleanEmbeddedCassandra`.
- 2.1.9: 4500 ms
- 2.1.7: 2000 ms

Other versions are not compatible with my spring-data-cassandra version, so I cannot test easily.

Profiling with VisualVM suggests the time is spent in Cassandra itself rather than the driver.

    org.cassandraunit.utils.EmbeddedCassandraServerHelper.cleanEmbeddedCassandra() 0.0	0.000 ms (0%)	0.000 ms	4,69

[2016-02-23 17:57] olim7t commented on #164
@lzvtrifork slow schema updates could be caused by event debouncing (introduced by [JAVA-657](https://datastax-oss.atlassian.net/browse/JAVA-657)): before refreshing the driver schema metadata, we wait for a while (1s by default) in case concurrent updates happen, so that we can coalesce them in a single refresh query.

But the downside is that each DDL query now takes at least 1s, not the best fo

[2016-02-24 10:39] OrangeDog commented on #164
@olim7t that seems to have sorted it.

Cassandra-unit should therefore make sure to set that for all DDL operations, such as `dropKeyspaces`.

[2016-03-06 19:40] atemerev commented on #159
Confirming — same problem here. Cassandra 3.2.1

[2016-03-08 11:03] mNantern commented on #150
@jsevellec Do you know when you will merge that PR and release a new version ?

Thanks !

[2016-03-08 21:44] gayetri commented on #140
Any updates on this? I have the same issue and my insert statement is not getting executed too.

[2016-03-08 22:03] gayetri commented on #140
I see the same warning in the logs, the database operations are not affected though.

[2016-03-09 18:13] NicolaeNMV commented on #149
Have the same problem. Thanks for posting a workaround.

[2016-03-11 16:43] ogg1e commented on #151
@chaochao I can't recall the exact fix, but I think I had to add some exclusions to the pom file for cassandra-unit dependency with a scope of test:
``
 <exclusion>
                    <artifactId>cassandra-all</artifactId>
                    <groupId>org.apache.cassandra</groupId>
                </exclusion>
                <exclusion>
                    <groupId>com.datastax.cassandra</groupI

[2016-03-14 09:38] aeons commented on #166
Any ETA on release of a version with 3.0 support?

[2016-03-14 13:32] miguelangcosta commented on #159
Is any solution for this issue?

[2016-03-18 09:37] jsevellec commented on #166
I've just done the release. The artifacts have been published to maven central. It should be available soon.

[2016-03-18 09:38] jsevellec commented on #150
I've just done the release. It should be available through maven central soon.

[2016-03-18 10:05] jimenefe commented on #150
thanks!

FJ

[2016-03-20 00:47] busbey commented on #166
Yay! Thanks a bunch for this, it really helps out the YCSB project.

[2016-03-21 07:00] MALPI commented on #151
Can be closed since it's not an cassandra-Unit issue

[2016-03-21 08:58] #151 closed

[2016-03-24 12:29] MALPI commented on #146
Duplicate of #166

[2016-03-24 12:30] MALPI commented on #166
Is this solved?

[2016-03-24 12:33] MALPI commented on #140
Actually It doesn't seem to be a real issue? Can it be closed?

[2016-03-24 12:34] MALPI commented on #108
Can be closed.

[2016-03-24 12:36] MALPI commented on #105
Close this pls

[2016-03-24 13:00] #108 closed

[2016-03-24 13:00] #140 closed

[2016-03-24 13:01] jsevellec commented on #166
the release has been done, yeah.

[2016-03-24 13:01] #166 closed

[2016-03-24 13:02] #146 closed

[2016-03-24 13:02] #105 closed

[2016-03-25 03:31] kevinconaway commented on #169
Try using the `CassandraCQLUnit` rule

[2016-03-27 23:15] sedovalx opened #173 "Is it possible to release 2.2.2 version for cassandra-driver-core 3.0.0?"
Unfortunetly the cassandra-unit-spring module should be rebuilt for it. I believe the https://github.com/jsevellec/cassandra-unit/issues/159 issue is related to this.

[2016-04-05 19:53] mNantern opened #174 "Impossible to use an older version of C* with Cassandra Unit"
Hi !

I tried to use an older version of C* (2.2.4) with the release 3.0.0.1 as explained in [the wiki](https://github.com/jsevellec/cassandra-unit/wiki/How-to-integrate-it-in-your-project) but it failed when I try to load a CQL Dataset:

[code]
(in CQLDataLoader:57)

In 2.2.4 you should do:

[code]

Thanks !

[2016-04-06 15:24] eranmizrahi commented on #128
Hi,

Even with latest version of cassandra unit (3.0.0.1), we still have this problem in our CI.
On the local machines, it seems to work o.k.

Any idea how to solve this problem ?

thanks,
Eran.

[2016-04-06 15:27] jsevellec commented on #128
You can increase the timeout : #127

[2016-04-07 07:10] eranmizrahi commented on #128
i have increase the timeout with large number, and it worked.
thanks !

[2016-04-10 02:48] tokyohans commented on #133
@jsevellec great work!
@ahll I have tried exactly the same, put the lucene index plugin on the classpath but get a snakeyaml configuration exception "can't construct a java object for tag... cluster_name: 'Text Cluster'". Further stacktrace info points at InvocationTargetException -> NoSuchMethodError com.google.collect.Sets.newConcurrentHashSet(). Seems like this is related to google Guava depend

[2016-04-14 16:12] cmayes opened #176 "The hints_directory setting is missing from cu-cassandra-rndport.yaml"
Upon upgrade to Cassandra 3, I would get this error:

[code]

I noticed that `cu-cassandra.yaml` had this line:

[code]

...but `cu-cassandra-rndport.yaml` did not.  I've made a project-local version of this config file with the line from `cu-cassandra.yaml`, which has gotten rid of the error.

[2016-04-19 15:18] ahll commented on #133
Hi
  I do not put the plugin in class-path, Instead of that, I put it in  the maven dependency, and follwoing is my configuration:

  <dependency>
            <groupId>com.stratio.cassandra</groupId>
            <artifactId>cassandra-lucene-index-plugin</artifactId>
            <version>2.1.6.2</version>
            <scope>test</scope>
            <type>jar</type>
        </dependency>
        <de

[2016-04-27 14:06] kurtkopchik commented on #155
I'm hitting the same issue. Has anyone found a solution?

[2016-04-27 14:19] ukjbrown commented on #155
Unfortunately, I never did. I don't believe we are running an exceptional environment, and we've hit a variety of issues. Was just time to accept that we have to run our tests against a separate running Cassandra instance and pretend it doesn't never ran on Java anyway.

[2016-04-27 14:30] kurtkopchik commented on #155
Thanks @ukjbrown unfortunately it looks like we might have to do the same.

[2016-04-29 19:38] vvsh commented on #170
I faced the same issue. Besides, my PC slows down (sometimes freezes) in the end of tests execution.

[2016-05-06 15:04] ffissore commented on #173
With #177 you can use latest cassandra-unit and exclude maven packages so to test against cassandra 2.2

[2016-05-06 15:05] ffissore commented on #159
With #177 you can use latest cassandra-unit and exclude maven packages so to test against cassandra 2.2 while still using driver version 3

[2016-05-06 15:40] #174 closed

[2016-05-26 11:00] zillani-nuovo opened #178 "Null Session problem"
[code]

Above code is giving me a null session, Please help

[2016-06-20 15:41] Jobs92 opened #179 "Very high cpu load on Windows machines"
Hi,

I use cassandra-unit for unit testing. Running cassandra-unit on Linux works fine but if I use Windows (which is my preferred operating system) cassandra-unit has a cpu usage of 99%. I tried it on multiple machines and all show the same behavior on Windows. The system get's so slow that I can't continue to work. Is this a general issue with cassandra-unit and are there any fixes/ workarounds?

[2016-06-23 18:19] wakingrufus commented on #154
@depend How do you go about doing this?

[2016-06-28 09:30] sateeshpnv commented on #110
Is this issue resolved for anyone? If so, how?

On some bad days, it fails 9 out of 10 times.

[2016-06-30 20:49] smile18 opened #180 "getting Dataset not found exception"
the AbstractCQLDataSet constructor in git https://github.com/jsevellec/cassandra-unit/blob/master/cassandra-unit/src/main/java/org/cassandraunit/dataset/cql/AbstractCQLDataSet.java has correct one but when from in jar which downloaded from maven repo has wrong code. Please update jar in maven repo.

code in above link ....

[code]

code in jar file ( tried both 2.1.9.2 and 3.0.0.0 ) causing the ex

[2016-07-08 13:19] kasabov opened #181 "Embedded Cassandra stalls after ~7 minutes"
I'm having a problem with embedded Cassandra not accepting connections after ~7 minutes. Here's a simple unit test to reproduce the issue:

`package net.company;
import com.datastax.driver.core.Cluster;
import com.datastax.driver.core.Session;
import org.apache.thrift.transport.TTransportException;
import org.cassandraunit.utils.EmbeddedCassandraServerHelper;
import org.junit.Test;

import java.io

[2016-07-13 12:25] aeons commented on #179
I have the same issue on Mac OS X. Both for me and several of my colleagues.

[2016-07-14 12:28] loucasa commented on #164
I'm running into this too, I tried setting the refresh intervals mentioned above and it does make a little difference running a single test class but is still much slower than using 2.1.6

[2016-07-20 10:49] xiaodong-xie commented on #181
Have you tried reusing `session`? I meant not to connect to cluster for session anytime you want one...

[2016-07-26 10:35] manei commented on #98
Still an issue in cassandra-unit-spring 3.0.0.1

[2016-08-02 14:33] StephanPraetsch opened #184 "TransportException: [localhost/127.0.0.1:9042] Cannot connect)"
Hi,

I want to use cassandra-unit for a unit test with spring boot. Unfortunately I cannot setup correctly:

https://github.com/StephanPraetsch/spring.boot.cassandra.unit.test/blob/master/src/test/java/com/example/ApplicationTests.java

This ends up in an Exception

Caused by: com.datastax.driver.core.exceptions.NoHostAvailableException: All host(s) tried for query failed (tried: localhost/127.0.0

[2016-08-16 18:21] ecurtin commented on #155
The issue (I think) is that because the in-memory cassandra instance doesn't get shutdown at the end of the test, when a new test runs that tries to make a new instance, it can't because the old instance is still running on that port.

The solution would be to shut down the Cassandra instance after the tests are run so it doesn't persist indefinitely, but I'm kinda stuck for a way to do that.

I c

[2016-08-18 08:10] ibalashov commented on #155
We ended up running single embedded instance for all test suites.

ps. If somebody happen to use Scalatest, here is related discussion:  [doing-something-before-or-after-all-scalatest-tests](http://stackoverflow.com/questions/15423337/doing-something-before-or-after-all-scalatest-tests)

[2016-08-25 10:57] haribachala commented on #129
Hi @jsevellec

Is cassandra-unit updated to use  V4 protocol ?

[2016-09-01 18:28] gauravspatel commented on #163
We're unable to use this library at GM because it's LGPL.  If you do move it to Apache or MIT or BSD, we'd be able to use it.

[2016-09-05 13:00] silviobeux opened #185 "Embedded Cassandra doesn't stop on Windows machine"
Hi All,

On my windows machine (Window 7), embedded Cassandra is not terminated after the tests execution, and I have to manually kill the process. No problem at all on Unix, with the same code. It looks like a thread management problem by Windows.

Any suggestions? Is it a known bug?

Thanks!

[2016-09-06 13:14] orium opened #186 "Cassandra-unit doesn't specify a storage directory causing the daemon to not start"
[code]

[2016-09-06 13:21] orium opened #187 "The jmx port for cassandra should be randomized to avoid collisions with other services"
The jmx port for cassandra should be randomized to avoid collisions with other services.

[2016-09-07 12:20] allen-servedio commented on #187
Does issue #119 do what you need? If not, I'd be interested in hearing what you ran into as I am trying to set this up now.

[2016-09-20 21:52] kbalyasnikov commented on #179
Same here on Mac OS X. All cores are busy...

[2016-09-29 13:55] NoOrdInaryGuy commented on #179
I've also reproduced this issue on OSX.

It seems there is a workaround, though it's not ideal: Manually import `cassandra-all` version `3.6`, and exclude `cassandra-all` from the `cassandra-unit` dependency. i.e.:

[code]

Versions of `cassandra-all` up to and including `3.5` exhibit the issue, `3.6` seems to fix it. A quick look at the Cassandra changelog doesn't give any obvious changes, except

[2016-09-29 13:56] NoOrdInaryGuy commented on #185
@silviobeux is this the same as this issue? https://github.com/jsevellec/cassandra-unit/issues/179

[2016-09-29 14:04] silviobeux commented on #185
@NoOrdInaryGuy - Nope, everything is fine with the CPU usage, but the Embedded Cassandra process is not automatically terminated at the end of the test as expected. Everything is ok on Unix machine but on Windows machine the task has to be manually killed.

[2016-10-06 20:34] soid commented on #154
I start EmbeddedCassandra once per build and still see the exception every few runs.

[2016-10-06 21:01] paouelle commented on #154
I also see this often. I suspect that when we run a multitude of test cases, this puts a lot of load on the memtable, commit log, and sstables.

I wonder if there would be a way to force a flush and compaction after each test cases. That way, the next test cases that starts wouldn't see impact caused by an unusual set of cassandra operations.

[2016-10-10 06:27] Merkaban opened #189 "Project still active?"
Hi there,
found this and would love to use it, but there has not been happening much within the last few months. Is the project still active?
Regards!
Merkaban

[2016-10-10 14:19] jsevellec commented on #189
Hi,

Don't worry, the project is still alive and looking for PR ;-)

[2016-10-10 14:23] #176 closed

[2016-10-12 09:38] iksaif opened #190 "Create test keyspaces with durable_writes = false;"
It would probably be a good idea to disable durable writes during unit tests, or at least to give an option to do so, because it can get quite slow without SSD.

[2016-10-17 13:11] adamdougal commented on #176
Hi @jsevellec will there be a release soon containing this fix? Thanks!

[2016-10-17 14:49] jsevellec commented on #176
I wanted to wait a bit before release a new version.

Anyway you've got several workarounds available :
- there's a snapshot of cassandra-unit containing last commits (available here : https://oss.sonatype.org/content/repositories/snapshots/)
- you can use your own cassandra file

Let me know if it's ok

[2016-10-19 02:54] aliakhtar commented on #190
Agreed. Its really slow to start integration tests. Not sure why.

[2016-10-19 03:09] aliakhtar opened #191 "Sloooooooooooooooooooooooooooooooooooooooow"
I have a `@ClassRule` in all my tests which creates an embedded instance of Cassandra.

This takes a suuuuuuuuper long time. OK, not that long, but about 10 seconds.

Which gets pretty tiring when it happens every time you're doing TDD.

Any ideas on how to speed things up? Here are my startup logs:

[code]

[2016-10-19 03:11] aliakhtar commented on #186
Same issue. I fixed it by doing `System.setProperty("cassandra.storagedir", "/tmp/cassandra" + System.nanoTime());` before creating CassandraCQLUnit

[2016-10-19 07:48] aliakhtar commented on #191
Update: Setting `System.setProperty("cassandra.unsafesystem", "true");` before running the test, brought down the startup time from 10 seconds to 800 ms. Perhaps consider making this available as an option or documenting it in the wiki?

[2016-10-19 07:48] #191 closed

[2016-10-19 07:52] aliakhtar commented on #190
See #191 for a workaround on making tests faster

[2016-10-19 18:43] amichair opened #192 "NoSuchMethodError with Cassandra 3.9"
Getting the exception below using cassandra-unit 3.0.0.1 and Cassandra 3.9. Apparently CommitLog.getContext() has been removed somewhere along the way, and cassandra-unit was not updated with the change.

btw, this kind of thing has happened at least a couple times before... perhaps you should have some unit tests run whenever a new version of Cassandra is released, so you'll pick up such breaking

[2016-10-20 07:10] amichair commented on #192
Looks like this error occurs on 3.8 as well but 3.7 is ok - it was introduced in between them.

[2016-10-20 15:41] orium commented on #187
#119 seems to be about the port where the daemon listens in.  I'm refering to the jmx port.

[2016-10-20 23:44] amichair opened #193 "cleanEmbeddedCassandra throws "Cannot drop non existing keyspace""
I looks like the list of keyspaces it tries to delete is stale, so it attempts to delete a non-existing keyspace. Perhaps it can make sure the list isn't stale, or just use "DROP KEYSPACE IF EXISTS" to ignore this state.

[2016-11-01 15:24] peter-janssen opened #195 "Compile as test-jar"
Cassandra-unit works perfectly as a embedded database for unit test. The only issue I am facing right now is that it is compiled as a jar. Test scoped dependencies are not transitive. Log4j is not on my classpath and now I'm getting strange log statements during tests. This would be resolved if cassandra-unit would be compiled as a [test-jar](https://maven.apache.org/plugins/maven-jar-plugin/test-

[2016-11-02 17:56] kevinconaway opened #197 "Default to Random Port Configuration"
@jsevellec does it make sense for @EmbeddedCassandra to default to using the random port `CASSANDRA_RNDPORT_YML_FILE` configuration instead of the default?

Not using a random port usually results in an unpleasant and non-deterministic test failure when running in a CI environment where there may be port conflicts for 9142.

[2016-11-09 11:15] aludwiko commented on #179
I have the same problem on Linux machine and proposed workaround is not helping. I notice that high cpu usage starts just after finishing the first `Spec`. I'm using akka-persitence and after all tests is spec I'm invoking:
[code]
not sure if this is related to the problem.

When I switched back to version  `"org.cassandraunit" % "cassandra-unit" % "2.2.2.1"` problem disappear.

[2016-11-15 23:57] depend commented on #154
Close since it happens so rarely now that it doesn't bother me.

[2016-11-15 23:57] #154 closed

[2016-11-16 00:02] soid commented on #154
I think it's intermittent. For some people it's more often, for some people it's rare.
It sounds like the "works on my machine" meme when you're closing this ticket.

![defect-in-production-works-on-my-machine](https://cloud.githubusercontent.com/assets/213141/20329419/dd34dd4e-ab4c-11e6-924b-5cb7cdeacd70.jpg)

[2016-12-01 03:07] jaejinKim opened #198 "How to set up multi cluster"
Hello

I would like to use 3 replica in my keyspace
like that  {'class': 'SimpleStrategy', 'replication_factor': '3'}  and
statement.setConsistencyLevel(ConsistencyLevel.QUORUM);

But Embedded cassandra is 1 active node.

How to configure multi cassandra?

Please let me know the solutitions.

[2016-12-01 07:57] jsevellec commented on #198
Hi,

Unfortunately cassandra-unit has not been designed for that.

You can have a look to ccm : https://github.com/pcmanus/ccm which will
enable you to create a local multi nodes cluster

Jérémy,

2016-12-01 4:07 GMT+01:00 jaejinKim <notifications@github.com>:

--
Jérémy

[2016-12-01 10:33] jaejinKim commented on #198
Ok I will use docker or CCM ^^
Thnka you for your answer

[2016-12-06 16:25] jsevellec commented on #197
It's a good question. The good thing is that it's available ;-)

[2016-12-06 16:26] #198 closed

[2016-12-06 16:49] #190 closed

[2016-12-06 16:50] #189 closed

[2016-12-06 17:00] jsevellec commented on #160
Hi,

You can create a CQLDataset by specifying that you let cassandra-unit create a use his own keyspace for the tests by setting keyspaceCreation to true

Is it not what you need?

Jérémy

[2016-12-06 17:07] #150 closed

[2016-12-06 17:11] OrangeDog commented on #160
No, the keyspace already exists, so I don't want `keyspaceCreation`.
I just want it to execute `USE keyspace;` consistently, and independently of `keyspaceCreation`.

[2016-12-06 17:13] jsevellec commented on #160
ok got it

[2016-12-07 15:57] marcuscbey commented on #179
Has anybody found a definitive reason this is happening? I'm seeing the same thing on cassandra-unit 2.1.9.

[2016-12-07 16:06] jsevellec commented on #179
The issue looks to be linked to specific version of cassandra which started in embedded mode where causing the issue. The new version of cassandra-unit (3.1.1.0) is linked to cassandra-all in version 3.9 that looks to also fix the issue.

[2016-12-07 16:13] marcuscbey commented on #179
We currently deploy against Cassandra 2.1.x so I was trying to avoid upgrading to cassandra-unit 3.x to ensure our tests are actually running against our deployed cassandra version. Do you have any idea what version of cassandra-all this started in? I could try rolling back that dependency

[2016-12-08 06:13] barkhakeni opened #199 "Support shaded version for 3.1.1.0"
Currently the shaded version is 2.1.9.2 which supports older version of Cassandra. Can we have shaded version of cassandra-unit which supports 3.7+ version of cassandra. Shaded version of cassandra unit doesnt have system_schemas keyspaces which are in the later version of cassandra.

[2016-12-08 06:31] trecloux commented on #199
The shaded jar identity is now :
[code]

[2016-12-08 06:43] barkhakeni commented on #199
@trecloux Thanks for the fast response. After adding this, our build is running very slow. Is it because of some conflict with netty?

[2016-12-08 09:18] slandelle opened #200 "Shaded artifact shouldn't be a derived classifier of main one"
Hey Ch'ti Jug guys!

IMHO, the current shaded artifact is really cumbersome to use.

The problem is that it's deployed as an alternate classifier of the main artifact, meaning that it doesn't have its own pom.xml.
As a consequence, when depending on the shaded artifact, one has to exclude `cassandra-all` that's being fetched from the non-shaded pom, and re-import all the dependencies that were not

[2016-12-08 15:19] jsevellec commented on #200
Fair enough...

[2016-12-08 16:33] slandelle commented on #200
PR sent, see #201

[2016-12-08 16:34] jsevellec commented on #200
fast contribution... thanks!

[2016-12-08 16:36] slandelle commented on #200
Well, that's just how things should work in open-source :)

[2016-12-08 21:11] jsevellec commented on #199
linked to #200

[2016-12-08 21:16] #200 closed

[2016-12-08 21:32] #173 closed

[2016-12-08 21:54] #164 closed

[2016-12-08 21:55] #125 closed

[2016-12-09 00:01] slandelle commented on #200
Thanks for merging!
Any idea of the ETA of the next release shipping this change? I'm not in a hurry, just to keep things on my radar.

[2016-12-09 06:46] jsevellec commented on #200
No idea. Usually i'm waiting a bit to get a bunch of fix into a new one but i could do also do it quickly because the fix is already an interesting one.

anyway, there's already a snapshot available (https://oss.sonatype.org/content/repositories/snapshots/)

[2016-12-09 08:40] slandelle commented on #200
Well, you usually release twice or 3 times a year. I can wait weeks, but I have to admit I'd rather not depend on a snapshot dependency for months :)

[2016-12-09 08:41] jsevellec commented on #200
message received ;-)

[2016-12-09 08:41] slandelle commented on #200
Thanks man :)

[2016-12-09 17:45] OrangeDog commented on #164
@jsevellec any reason you didn't?

[2016-12-12 09:40] jsevellec commented on #164
I missed it and didn't get what you mean. Could you be more precise?

[2016-12-12 10:25] OrangeDog commented on #164
@jsevellec these also make it go faster:
[code]

[2016-12-12 15:55] barkhakeni opened #202 "Build increased as we moved from 2.x cassandra-unit-shaded to 3.x cassandra-unit (classifier shaded)"
Initially our build time was 4 mins and now when we updraded to use 3.x the time went up to 5.30 min. As we added more unit tests, time went up to 6.33 min. Looks like the cleanup of embedded cassandra server takes a lot of time which is why our build is taking more time.

[2016-12-12 16:16] #199 closed

[2016-12-12 16:18] #126 closed

[2016-12-12 16:25] jsevellec opened #203 "Hector removal"
removal of :
- hector dependencies
- old dataset format (json, yaml, xml) based on the old column family model
- keyspaces cleaning via hector

[2016-12-12 16:26] jsevellec commented on #29
deprecated now

[2016-12-12 16:26] #29 closed

[2016-12-12 16:28] #203 closed

[2016-12-12 16:28] #186 closed

[2016-12-13 19:07] jwcarman commented on #164
Thanks @jsevellec, I'll give it a spin!

[2016-12-15 07:42] beastie1891 opened #205 "After switching to cassandra-unit 3.1.1.0 it no longer works on Java 7 runtime environment"
At this point we cannot switch to Java 8 but still want the latest version of cassandra-unit as it seem to have fixed issue: https://github.com/jsevellec/cassandra-unit/issues/110

Would it be possible that the latest version of cassandra-unit is build with Java 7 target environment?
I am getting Unspported Major Minor version 52.0 exception

[2016-12-15 07:54] jsevellec commented on #205
The problem is that Cassandra 3 now requires java 8 to be able to start.

[2016-12-15 08:02] beastie1891 commented on #205
Yeah. I noticed. Okay. I guess we will be moving to Java 8

[2016-12-15 09:15] #205 closed

[2016-12-15 21:25] jonbarksdale opened #206 "Subsequent tests fail when using keyspaceCreation flag"
If I use the keyspaceCreation flag on CQL dataset, I get this exception on tests after the first

com.datastax.driver.core.exceptions.AlreadyExistsException: Keyspace empty_keyspace already exists

I'm happy to submit a patch though, it's super simple to just add the IF NOT EXISTS clause.

Also, I wrote a simple util to create empty keyspaces, is there any interest in that as a patch?

[2016-12-21 01:01] tmalaska opened #208 "Trying to run in Scala"
BTW great lib,  I have got it working in Java, but just wondering do you have a working scala unit test?  I would love to see an example with Scala.

[2016-12-27 10:55] chjhaijiang opened #209 "How to use it with an existing cassandra cluster"
Hi,
How Can I use it with an existing cassandra cluster and run the basic unit test to verify the cluster is functioned well?
Basical, I don't want to start an embedded cassandra server

Thanks,
Haijiang

[2017-01-03 10:07] itstata opened #210 "Timed out waiting for server response on vm environment"
Hi,

i have proplems running cassandra unit on our vm environment. I'm running the test locally without any problem, but on the VM environment i'm getting timeouts for every test.

Therefor i increased the timeout to 60 seconds. I'm confused, because the timeout aborts the test after 12,xx seconds.  Any ideas?

[code]

I'm also using a custom yaml file with increased timeouts .

The [BaseCassandra

[2017-01-04 15:22] itstata commented on #210
Now i'm using a workaround to set the timeout before each unit test:
[code]

[2017-01-06 18:27] kilobyte1024 opened #211 "stop using FutureFallback; no longer in Guava 20"
Cassandraunit is compiled against some deprecated Guava code. This code was deprecated in Guava 19 and removed in Guava 20. Thus users of Cassandraunit can't upgrade to recent versions of Guava. Please patch to use the new Guava APIs (which have been available since Guava 18).

`FutureFallback` [is deprecated](https://google.github.io/guava/releases/19.0/api/docs/com/google/common/util/concurrent/

[2017-01-11 11:12] geekbeast commented on #211
Not sure about the server, but the official driver hasn't caught up yet. https://datastax-oss.atlassian.net/browse/JAVA-1328

Between Spark & Cassandra, it's going to be a while before a lot of folks can move on to 20.

[2017-01-11 11:12] geekbeast commented on #197
👍

[2017-01-11 11:14] geekbeast commented on #192
Does this still repro?

[2017-01-11 11:49] amichair commented on #192
I believe it was fixed when cassandra-unit added support for 3.9.

[2017-01-12 22:41] geekbeast opened #212 "ExceptionInInitializerError"
There is some incompatibility causing problems when trying to start CassandraUnit on random port for 3.9 (https://github.com/kryptnostic/rhizome/tree/feature/try-cassandra-unit). This is an issue, because the main advantage of running Cassandra on a random port is low effort way of achieving test isolation versus spinning up something using docker or solving it within the test environment itself.

[2017-01-14 22:06] geekbeast commented on #212
After doing some debugging I was able to track down the cause.

The following block is getting hit, because `readAndAdaptYamlFile` is stripping 'cdc_raw_directory: target/embeddedCassandra/cdc' from the yaml file that is written out.

[code]
I need to go back and look readAndAdaptYaml since it mostly looks fine.

[2017-01-14 22:10] geekbeast commented on #212
I was able to verify by setting a breakpoint after the YAML file is written and manually adding in the missing configuration item that cassandra startup successfully.

[2017-01-14 22:26] geekbeast commented on #212
@jsevellec So the issue seems to be in the 3.1.1.0 release: https://github.com/jsevellec/cassandra-unit/blob/cassandra-unit-parent-3.1.1.0/cassandra-unit/src/main/resources/cu-cassandra-rndport.yaml

I was able to work around it by using the latest one from master and adding it to my build. Since this seems to have already been fixed I will also close the issue. Hopefully, if anyone else runs into

[2017-01-14 22:26] #212 closed

[2017-01-18 14:04] dorheini opened #213 "Cassandra-unit with materialized views"
Hi.
Creating materialized views doesn't work when using embedded server with cassandra unit...
Is this currently not supported?
If the answer is no, is it going to be supported and when?

Thanks,

[2017-02-02 15:22] pythonmax commented on #179
I'm using cassandra-unit 3.1.1.0 and I'm able to reproduce this issue on my Ubuntu 16.04.

[2017-02-02 15:43] pythonmax commented on #179
I've found that problem was in multiple netty versions. I'm using cassandra-driver-core 3.1.2 which comes with netty 4.0.37.Final. But cassandra-unit 3.1.1.0 declares explicitly in dependencies netty 4.0.27.Final.

The workaround is to exclude netty from cassandra-unit:
[code]

So cassandra driver's netty will be used and CPU usage is back to normal after running tests.
I'm not sure but seems this

[2017-02-02 17:09] pythonmax commented on #202
It could be related to #179.
My build time decreased from 7 minutes to 1:40 after removing multiple netty versions.

[2017-02-02 19:59] k1eran commented on #155
Same issues here trying with `cassandra-unit-spring:3.1.1.1-SNAPSHOT`.

Running a single test fine but running several unreliable. Can anyone point me to any examples of using the embedded server for a suite for independent UTs ?

Thanks.

[2017-02-04 15:54] fmatar commented on #209
You do not need to use it with an existing cluster, simply connect to your cluster with before and close the connection with after methods and you're good to go

[2017-02-05 02:59] chjhaijiang commented on #209
OK, thanks. Make sense to me.

[2017-02-06 17:08] slandelle commented on #200
@jsevellec Gentle ping :) Do you have an ETA for the next release, please?

[2017-02-07 02:00] jsevellec commented on #200
oh man. I thought i did it... I'll do it next week.

Sorry for that.

[2017-02-07 07:08] slandelle commented on #200
Great, thanks!

[2017-02-07 14:07] erikkemperman commented on #212
@jsevellec I am running into the same problem. If I understand things correctly, https://github.com/jsevellec/cassandra-unit/commit/c2599f86d33adc9af9f2bc99f6d6b4f1072117f8 would fix the situation? Would you consider doing a point-release with this fix in? Thanks in advance!

[2017-02-07 19:56] bachateraconfuego opened #215 "Missing property from the configuration?"
I noticed that the original configuration has
```cdc_raw_directory: target/embeddedCassandra/cdc```
 while the one in here doesn't. Is that intentional? I get an error

[2017-02-08 18:08] akrystian opened #216 "Conditional Keyspace Truncate - Enchacement"
Hi,

Truncating Cassandra tables is pricey (it requires some disk operation). In our case tests last extensively long (due to CI machine have disk on remote storage array).

For each test case we would like have DB on clean state (which is probably common case for unit test).

What increased speed of tests was truncate table only if its not empty. It saves few flashes to disk if schema is not heav

[2017-02-10 09:29] peter-janssen commented on #195
One addition, by default with no appender specified I get some weird output on the console (about sigur etc.). I managed to solve it in my project by adding log4j-over-slf4j (hence I am using slf4j).

[2017-02-12 18:33] nguyenxndaidev commented on #184
I have the same problem with org.cassandraunit:cassandra-unit-spring:3.1.1.0

[2017-02-12 19:34] nguyenxndaidev commented on #184
There are 2 problems I found:

**1. cassandra-unit conflicts somehow with spring boot 1.5 (don't know it other versions work).**
If I remove the annotation @SpringBootTest, then the test works. But I cannot inject spring beans to my test class.

**2. the embedded cassandra requires a very long time to start**
Using the default timeout, I always get this error:
`Caused by: com.datastax.driver.core.

[2017-02-12 19:53] nguyenxndaidev commented on #184
Found the solution [here](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-samples/spring-boot-sample-data-cassandra/src/test/java/sample/data/cassandra/OrderedCassandraTestExecutionListener.java).

Change the order to load cassandra-unit before spring boot will solve the issue.

[2017-02-13 22:46] arnabmitra commented on #193
I am getting the same issue on an ubuntu machine
Any thoughts?
`com.datastax.driver.core.exceptions.OperationTimedOutException: [localhost/127.0.0.1:9042] Timed out waiting for server response

	at com.datastax.driver.core.exceptions.OperationTimedOutException.copy(OperationTimedOutException.java:44)
	at com.datastax.driver.core.exceptions.OperationTimedOutException.copy(OperationTimedOutException

[2017-02-14 08:44] svenakela commented on #215
Had problems with the same thing. I create a temporary config file though so it was easy to overcome. Even if CDC is set to false the config must exist.

[2017-02-14 19:54] pfrank13 opened #217 "Add support for Spring Boot Testing Facilities"
Spring Boot uses specialized annotated tests in order to limit the amount of the Spring Context that needs to be initialized for a given test, examples of these are @DataJpaTest, @JsonTest, @WebMvcTest, @RestClientTest see this repository for a full set of [examples](https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-test)  This issue would be to add

[2017-02-15 07:56] jsevellec opened #219 "update to cassandra java driver 3.1.3"

[2017-02-15 19:28] kporowski commented on #197
👍

[2017-02-15 21:58] diegokuh commented on #209
But for spring integration es mandatory to use the embedded cassandra right?

[2017-02-17 12:10] slandelle commented on #200
@jsevellec I see the `3.1.3.0` release commits in the git history, but it seems [it didn't make it to maven central](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.cassandraunit%22%20AND%20a%3A%22cassandra-unit%22) 😢

[2017-02-17 12:40] jsevellec commented on #200
Yes, I'm facing issues when publishing to maven central but I'm on it

[2017-02-17 12:46] slandelle commented on #200
Please let me know if I can help :)

[2017-02-17 13:55] #219 closed

[2017-02-17 14:19] jsevellec commented on #200
released! (3.1.3.2) It should be available soon in Maven central

[2017-02-17 14:35] #206 closed

[2017-02-17 15:05] slandelle commented on #200
Awesome, thanks a lot! Upgrade time!

[2017-02-17 17:17] kporowski opened #220 "Tests fail in dropKeyspaces() in case of timeout."
It looks like when there is a timeout on "DROP KEYSPACE mytestkeyspace" CassandraUnitDependencyInjectionIntegrationTestExecutionListener.afterTestClass() fails and test is marked as Error, even though it passed correctly. See attached logs:

[code]

[2017-02-17 17:21] kporowski commented on #220
What should be the proper behavior?
- `dropKeyspaceWIthNativeDriver()` should use an idempotent statement (DROP KEYSPACE IF EXISTS ...) and mark it as an idempotent one?
-  `CassandraUnitDependencyInjectionIntegrationTestExecutionListener.afterTestClass()` should not throw the exception?

[2017-02-19 15:08] amichair opened #221 "Embedded server startup error with Cassandra 3.10"
When upgrading Cassandra from 3.9 to 3.10 (and cassandra-unit 3.1.3.2), the embedded server fails to start:
[code]
The configuration seems to no longer be applied (it is null) - perhaps Cassandra changed something about its configuration initialization that broke this.

[2017-02-20 13:36] amichair opened #222 "Shutdown fails if a keyspace name has non-lowercase chars"
Quotes around keyspace names are optional for lowercase names, but required if explicitly created with quoted non-lowercase names. Currently if a keyspace with such a name exists, during shutdown an exception is thrown when trying to delete the keyspace, and the server never shuts down properly.

So in EmbeddedCassandraServerHelper, I think

```session.execute("DROP KEYSPACE " + keyspace);```

sho

[2017-02-22 09:12] svenakela opened #224 "Getting Nullpointer in Files.provider during startup"
I've written a few tests that uses cassandra-unit, they are working in several workstations and also in a Bamboo server. But know these tests are executed in a Jenkins build agent (OpenJDK 8 Docker container) and it fails during startup of the Cassandra server.

I am currently on the latest release, 3.1.3.2.

Pre starting the Embedded Cassandra there's a short snippet of code that finds an availab

[2017-03-09 09:24] DavidRG13 opened #225 "no libsigar-amd64-linux.so in java.library.path"
Hello,

I'm getting the following exceptions when running my tests:

Tried versions 3.0.0.1 and 3.1.3.2.

Does anyone know how to workaround this issue? Am I doing something wrong?

[code]

[2017-03-09 09:40] DavidRG13 commented on #225
Hello again:

I had a look into this and worked around this issue:

- In https://github.com/akka/apps/blob/master/akka-cluster-testapp/sigar/ you can find the needed .so files
- Add the libsigar library to java.libraty.path (you can see default values for each OS in http://stackoverflow.com/questions/20038789/default-java-library-path)

Is there another way of solving it?

[2017-03-13 08:35] svenakela commented on #224
I figured out what the problem was. The cassandra.yml file we use has relative paths like:

[code]

This works when Maven (or Eclipse directly) is used for running the tests as the target directory will be there. But when Gradle is used to run the tests the `target` dir is never created. The `DatabaseDescriptor` will check if the lowest directory exists and if it doesn't it will traverse backwards

[2017-03-13 08:35] #224 closed

[2017-03-29 22:10] arcesino commented on #187
Another valid question is whether is necessary to have JMX reporting enabled for unit testing. I've never had the need for it when unit testing so far. As of version **3.1.3.2** it is enabled by default leading to an annoying ERROR log on startup:
[code]
JMX reporting can be disabled if calling `withoutJMXReporting` on the cluster builder. IMHO, JMX reporting should be disabled by default or at le

[2017-03-30 14:49] OrangeDog opened #227 "AbstractCqlDataSet isn't abstract enough"
It's not possible to use `AbstractCqlDataSet` to act as a wrapper around any other way of getting an `InputStream` other than with a single `String` argument. Because all the constructors call `getInputDataSetLocation` a subclass cannot initialise any fields before it has to provide the stream.

Even a simple `InputStreamCqlDataSet` is impossible without duplicating all of `AbstractCqlDataSet`.

[2017-03-30 17:41] BrainLogic commented on #221
Hi team.
This is improved in 3.1.4.0-SNAPSHOT. When 3.1.4.0 will be released?

[2017-03-31 00:17] pluckandr opened #228 "java.lang.NoSuchMethodError: net.jpountz.lz4.LZ4Compressor.compress"
We are using version 3.1.3.2 but encounter an error when initializing the cluster.
Versions 2.X work fine. Our application is running on Java 8.
We've tried to exclude lz4 dependency but it doesn't seem to work.
Exclusion:
`<dependency>
            <groupId>org.cassandraunit</groupId>
            <artifactId>cassandra-unit</artifactId>
            <version>${org.cassandraunit.version}</version>

[2017-03-31 12:22] glindste commented on #211
Driver version 3.2.0 now uses guava 20

[2017-03-31 18:48] itzg commented on #169
Agreed @kevinconaway , this worked for me:

[code]

[2017-04-03 14:01] rebrendler opened #229 "Support for non-anonymous connection"
In recent versions of Cassandra, calling any methods that deal with roles/users without authorization enabled results in the following error:

`com.datastax.driver.core.exceptions.UnauthorizedException: You have to be logged in and not anonymous to perform this request`

If I start cassandra-unit with a yaml configuration file that enables authorization, I get the following:

`com.datastax.driver.

[2017-04-27 21:30] selimnairb commented on #213
Hello,

I am also trying to use a materialized view with Cassandra-unit, and am getting this error:

`no viable alternative at input 'MATERIALIZED' ([CREATE] MATERIALIZED...);`

when the "CREATE MATERIALIZED VIEW..." CQL statement, specified in `getStartupScripts()` of my CassandraConfiguration, is executed.

Note that this same CQL statement is happily executed by Spring Data Cassandra (1.5.3) wh

[2017-04-27 21:55] selimnairb commented on #213
@dorheini Did you ever figure this out?

[2017-04-28 09:09] dorheini commented on #213
No. still looking for in-mem cassandra that supports Materialized views.

[2017-04-29 05:19] dprao commented on #181
I am facing the same issue.  Any solution? or why is it happening?

[2017-05-09 21:43] gisripa opened #231 "Update wiki to reflect the latest code"
Documentation needs update
[code]
https://github.com/jsevellec/cassandra-unit/wiki/How-to-use-it-in-your-code

[2017-05-10 04:26] narendrasfo opened #232 "Group by is working local test cases while using EmbeddedCassandraServerHelper"
all the query other group works fine, i am trying to use group by in local test cases ,

cassandra 3.10 suuport group by query

com.datastax.driver.core.exceptions.SyntaxError: line 1:116 missing EOF at 'group' (...partner_name='c' and event_date='2017-05-01' [group] by...)
	at com.datastax.driver.core.exceptions.SyntaxError.copy(SyntaxError.java:58)
	at com.datastax.driver.core.exceptions.SyntaxE

[2017-05-10 13:05] DavidRG13 opened #233 "Update Guava version"
We are using the latest version of Guava (21) but Cassandra-driver was using 19 that is not compatible with versions above 20, so I wasn't able to run cassandra-unit tests.

[2017-05-23 11:41] DavidRG13 commented on #211
Just realized this issue was here... my bad..

I duplicated it https://github.com/jsevellec/cassandra-unit/issues/233 and submit a PR:
https://github.com/jsevellec/cassandra-unit/pull/234

[2017-05-23 12:25] #233 closed

[2017-05-23 13:39] DavidRG13 opened #235 "How to stop the cassandra instance"
Given that stopEmbeddedCassandra has been deprecated, how can I stop it?

I'm working on a gradle plugin ;)

[2017-05-24 10:08] DavidRG13 opened #236 "Cassandra-unit CLI"
Is there any reason to not continue with this alternative?
Is it possible to create another CLI release?

[2017-05-24 12:04] DavidRG13 commented on #236
Don't know if the current version allows it but I created a CLI release by hand , but it's not working...

Here the log:
[code]

[2017-05-25 08:09] DavidRG13 commented on #236
Ok, after all the investigations and work done I managed to make this work. Now a Cassandra instance can be started and dataset could be passed to it.

I guess the GitHub downloads feature is not longer available, isn't it? Where can I download the .tar that assemble-plugin creates?

FYI, I 'm working on a fork and will do a PR when ready

Really useful lib ;)

[2017-05-25 13:06] DavidRG13 commented on #236
Could the tar.gz file be added to the release page?
https://github.com/jsevellec/cassandra-unit/releases/tag/cassandra-unit-parent-3.1.3.2

[2017-05-25 16:26] DavidRG13 opened #237 "Compile with java 8"
Given that cassandra requires Java >= 8, does it make sense to compile cassandra-unit with java 7?

If so, I would be interested in migrating it to Java 8

Update, I have been working on this, once #238 is merged I will submit the PR for this

[2017-05-30 07:33] DavidRG13 commented on #213
Hello @dorheini and @selimnairb,
did you try the latest version? It's working for me

Please let us know if this could be closed

[2017-06-07 09:57] DavidRG13 commented on #236
OK... my fault...
Just realized that it's deployed to maven central.
Closing this issue

[2017-06-07 09:57] #236 closed

[2017-06-07 10:03] #235 closed

[2017-06-07 10:04] DavidRG13 commented on #235
Ended up using the CLI version of Cassandra-unit

[2017-06-09 16:14] silmeth commented on #232
I have the same problem. `GROUP BY` was added to Cassandra in version 3.10, but cassandra-unit depends on Cassandra 3.9, so it would need an update to make `GROUP BY` work.

[2017-06-25 00:49] nevillelyh commented on #221
I found a workaround by calling `DatabaseDescriptor.daemonInitialization()` after creating the CassandraUnit instance.

[2017-06-26 14:12] martinlechner1 commented on #163
+1 on the licensing thing. We cannot use this due to GPL :-(

[2017-06-29 12:03] svenakela opened #240 "Cassandra Unit Wrapper"
Hello all,

I've made a wrapper, been using it for a few years now, that wraps Cassandra Unit.
Main feature is a port picker that makes it possible to run several CU-builds on a build server without getting port conflicts. It is also very easy to setup a test by extending one of the classes, that will give the developer an instance running by default.

[You find Cassandra-Testbase here](https://gi

[2017-06-29 12:41] #240 closed

[2017-07-11 08:51] #225 closed

[2017-07-11 08:52] DavidRG13 commented on #213
@jsevellec probably this issue could be closed

[2017-07-11 08:53] DavidRG13 commented on #211
@jsevellec  probably this could be closed

[2017-07-11 08:55] DavidRG13 commented on #192
@amichair could you please confirm if this has been fixed? If so, could you please close this issue?

Thank you!

[2017-07-11 17:46] kilobyte1024 commented on #211
Agreed

[2017-07-11 17:46] #211 closed

[2017-07-11 18:58] DavidRG13 commented on #103
@mohitanchlia if this is solved, could you please close this issue?

Thanks a lot

[2017-07-20 23:29] collinscangarella commented on #224
Is there an expected release date for this patch? We're still experiencing the problem in the most up to date version of the library, 3.1.3.2.

[2017-07-25 03:30] dewafer commented on #220
Same problem here, solved by this one:
https://github.com/jsevellec/cassandra-unit/issues/210#issuecomment-270396532

[2017-07-25 20:57] bryanwieger opened #243 "Be able to point cassandra unit at local instance of cassandra instead of starting a new on"
Hi,

I tried using cassandra unit and I have tried running my tests of a local instance.

Running the tests off the local instance is much faster. I believe this is due to cassandraUnit having to start up and initialize. There is about a 15 second overhead with CassandraUnit

I am wondering if there is a way to tell cassandraUnit to not start up a new instance and to use a currently running instan

[2017-07-25 21:12] aashishs101 opened #244 "failure to initialize embedded cassandra on Ubuntu"
Running the following:

`EmbeddedCassandraServerHelper.startEmbeddedCassandra(100000)
val cluster = new Cluster.Builder().addContactPoints("127.0.0.1").withPort(9142).build()
val session = cluster.connect()
`

  at shade.com.datastax.spark.connector.google.common.base.Throwables.propagate(Throwables.java:160)
  at com.datastax.driver.core.NettyUtil.newEventLoopGroupInstance(NettyUtil.java:136)
  a

[2017-07-31 10:26] toxeh commented on #228
@pluckandr , set 1.3.0 version of lz4 in your pom.xml.

[2017-07-31 16:03] OrangeDog commented on #221
@nevillelyh what exactly did you do? There is no `CassandraUnit` class to make an instance of.
Before `startEmbeddedCassandra` it throws a `ConfigurationException`. After, and it's too late.

[2017-07-31 16:09] OrangeDog commented on #221
Seems the fix is 95ce8b2e6

[2017-08-01 15:03] tipso78 commented on #220
Hi
I have the same problem but the kporowski solution not work in my case.
Any idea ?
thank you

[2017-08-01 15:24] kporowski commented on #220
There is a quick and dirty fix until this issue is diagnosed and fixed.

You can implement your custom class, that inherits from `org.cassandraunit.spring.CassandraUnitDependencyInjectionIntegrationTestExecutionListener`,
and overrides its methods with implementation that can retry/ignore exceptions during startup/cleanup of server. Then use it in `@TestExecutionListeners` instead of `org.cassandr

[2017-08-01 15:46] tipso78 commented on #220
Thank you for your very fast answer.
The quick fix worked but i ashamed of this quick fixe.
Any other idea ?

[2017-08-02 12:18] phalodi commented on #181
I also  facing same problem. Anyone find any solution?

[2017-08-16 14:11] aroch commented on #244
I'm seeing this issue on Fedora, same versions as above. Did anyone find a solution to this?

[2017-08-23 10:19] JCL38-ORANGE commented on #229
Hello,

I am facing with this problem. My application needs to have integration tests involving cassandra role and permissions. It is not possible with the current release of cassandra unit.
Is there a workaround ?
Do you plan a release to support this enhancement ?
Thanks and regards,

[2017-08-23 15:39] atamborrino commented on #244
Same issue here. I think this has to do with cassandra-spark-connector package, because without it cassandra-unit runs well on Ubuntu.

[2017-08-24 15:52] JCL38-ORANGE opened #245 "impossible to use cassandra-unit with autentification/auhorization both enabled"
Hello,

I have enabled authentification and authorization in my cassandra.yml file like this because my unit tests must cover roles and permissions :
...
authenticator: PasswordAuthenticator
authorizer: CassandraAuthorizer
...

The startup of cassandra-unit fails with the error :
17:49:27.894 [cluster1-nio-worker-0] DEBUG com.datastax.driver.core.Host.STATES - Defuncting Connection[localhost/127.0

[2017-08-24 16:28] OrangeDog commented on #245
#229

[2017-08-30 23:37] M9k commented on #224
Same problem here with Windows, With default value it work fine.
I paste the complete error, so if someone search on Google for the same problem it will find this issue:
Exception (java.lang.NullPointerException) encountered during startup: null
java.lang.NullPointerException
        at java.nio.file.Files.provider(Files.java:97)
        at java.nio.file.Files.getFileStore(Files.java:1461)

[2017-09-04 12:07] userx91 commented on #221
We are facing the same issue . It works if we use 3.1.4.0-SNAPSHOT . We cannot use a SNAPSHOT dependency on our production code .is this part of any ongoing milestone ? Can you please let us know when it will be released.
@nevillelyh  @OrangeDog - The changes you mentioned are part of EmbeddedCassandraServerHelper.java in 3.1.4.0-SNAPSHOT right ? Which other version of Cassandra unit has this fix

[2017-09-09 15:39] jxie418 commented on #193
I got the same. any ideas

[2017-09-11 22:13] nevillelyh commented on #221
Sorry I ended up not using cassandra-unit since we ran into other problems that are not easily fixable.

[2017-09-12 08:28] MrChrisPSimmons commented on #221
This seems to work around the problem.
[code]

[2017-09-19 12:05] hsn10 commented on #221
can you publish new JAR with this fix?

[2017-09-21 08:30] jsevellec opened #246 "update to cassandra 3.11 and driver 3.3.0"

[2017-09-21 08:34] #246 closed

[2017-09-21 08:43] #237 closed

[2017-09-21 17:11] OrangeDog opened #247 "Random port functionality is broken"
Updating to 3.3.0.1 from 3.1.3.
This no longer works
[code]
[code]
Note that it's trying to connect to port 0 instead of a random allocation.

[2017-09-21 19:09] mcbailey commented on #245
I have a workaround that just sets the default credentials when EmbeddedCassandraServerHelper.startEmbeddedCassandra(..) is called.  You can see here:   https://github.com/mcbailey/cassandra-unit/commit/e010788a2f6c37c4eac7d277929f68f568ed0962

[2017-09-22 11:30] OrangeDog commented on #221
As 3.3.0.1 broke other things (#247) can you please release 3.1.4.0.

[2017-09-22 13:11] jsevellec commented on #247
having a look

[2017-09-22 13:11] #247 closed

[2017-09-25 14:45] JCL38-ORANGE commented on #245
Hello,

Thanks for this workaround.
I have tested it but it is a partial one (random result).
The whole solution is your workaround and the following line :
...
        System.setProperty("cassandra.superuser_setup_delay_ms", "0");
...
It works fine for me in all cases.
Jérémy, is it possible to add the whole patch in the master branch and to deliver a new release ?
Please keep me informed.
Thanks

[2017-09-26 16:26] JCL38-ORANGE opened #248 "The guava version is not compatible with spring-data-cassandra library"
Hello,

The last cassandra-unit release brings an upgrade to a most recent guava release.
...
             <groupId>com.google.guava</groupId>
             <artifactId>guava</artifactId>
             <version>21.0</version>
...
This guava version is not compliant with the old cassandra datastax driver which is still included in the stable spring-data-cassandra framework (1.5.7).
https://jira.sprin

[2017-09-29 09:22] mp911de opened #249 "Cassandra unit on Java 9"
This is more of a to-be-done ticket as soon as Cassandra supports Java 9.

Right now, Cassandra fails on Java 9 because of initialization errors that are attempted to be reported but reporting fails because of uninitialized `DatabaseDescriptor`.
Setting up the configuration

[code]

Before calling `org.cassandraunit.utils.EmbeddedCassandraServerHelper#rmdir` initializes `DatabaseDescriptor` eagerl

[2017-10-06 18:02] #169 closed

[2017-10-15 06:04] #192 closed

[2017-10-15 06:10] amichair commented on #221
This issue no longer occurs in release 3.3.0.2, so I'm closing it.

[2017-10-15 06:10] #221 closed

[2017-10-16 06:49] shankarshastri opened #250 "How to kill the started embedded cassandra?"
Cassandra unit starts, but still I find port 7010 still in use, even after the end of the process?

[2017-10-18 20:01] satishbotla commented on #167
Any one working on this?

[2017-10-19 23:16] jintaoguan opened #251 "No data loader for json data any more after cassandra-unit 3.0 ?"
From the source code, I didn't see any DataLoader for json data.
The only one there is CQLDataLoader.
Does that mean there will be no json data support?

[2017-10-23 09:27] Sammers21 commented on #235
@DavidRG13 , sorry what do you mean? how to stop C*?

[2017-10-27 04:46] msche opened #252 "CLassnot found exception when starting embedded cassandra"
When I try to start embedded cassandra from within spring boot and get the following exception:

[code]

[2017-11-20 09:30] coolsagy commented on #252
Add logback-classic jar (correct version) in lib folder.
Below link can help you to get diff version jar
[](https://mvnrepository.com/artifact/ch.qos.logback/logback-classic)

[2017-11-22 16:42] keks51 commented on #170
type cluster.newSession();
 instead cluster.connect();

[2018-01-12 14:22] nachii commented on #249
Hi,
I “resolved” the initialization of the ```DatabaseDescriptor``` adding these 2 lines:
[code]
before
[code]
but now I have this error:
[code]
Maybe it could be useful to someone.

I saw that there is a patch in the related ticket https://issues.apache.org/jira/browse/CASSANDRA-9608. When will CassandraUnit be patched to support Java 9?

By the way, for now, I've found a **workaround**.
I start

[2018-01-18 11:53] erikvanoosten opened #255 "Not compatible with dropwizard-metrics-jmx 4.x"
Cassandra-unit is not compatible with dropwizard-metrics-jmx. The problem is that since 4.x the JmxReporter moved out of dropwizard-metrics-core and the package name changed. When the cassandra driver starts a JmxReporter the class is not there.

Cassandra should _not_ start a JMX Reporter during unit tests. Luckily this can be disabled through Cassandra configuration.

Please disable reporting me

[2018-01-31 12:56] nicoalexandrovich opened #261 "Failed to apply cassandra.yaml config on Windows"
Hello Guys!
When I running cassandra-unit on Windows 10,  I am using following code on scala:

[code]

I faced with following exception:
java.nio.file.InvalidPathException: Illegal char <:> at index 26: target/embeddedCassandra\C:\storage\cassandra-poc\target\test-classes\cassandra\cu-cassandra.yaml
	at sun.nio.fs.WindowsPathParser.normalize(WindowsPathParser.java:182)
	at sun.nio.fs.WindowsPathPa

[2018-02-07 04:21] NYPD commented on #261
I had sort of the same issue as well. I had to download the yaml file manually and add it to my classpath:

[code]

![](https://i.imgur.com/lFzTjDD.png "L")

This is on 3.3.0.2

[2018-02-07 04:33] NYPD commented on #248
I guess this is something the user will have to exclude in the pom.xml.

[2018-02-12 20:25] dsbos opened #262 "Bug in path manipulation: Breaks for .yaml resource file in package other than root package."
The code that makes the file pathname to the copied `.yaml` resource file doesn't match the pathname of the copied file.  This causes failures when the resource file is in a package (directory) other than the root.

When `startEmbeddedCassandra(...)` is called with a Yaml resource file pathname of `/com/xxx/yyy/zzz/db/cassandra.yaml` (and when such a resource exists, of course), the code makes a c

[2018-02-21 05:33] massenz commented on #224
Just FYI (and I only found it by coincidence) this appears to happen again if you run your tests with `./gradlew` and `JAVA_HOME` happens to point to Java 9.

My "alternative" is set to use Java 8 (so `java --version` would give `java version "1.8.0_161"`), but then `gradlew` prefers to use `JAVA_HOME` (which was incorrectly set) and encounters this error.

The fix is trivial: `unset JAVA_HOME`
(j

[2018-03-01 16:06] abtpst opened #264 "EmbeddedCassandra : Cannot run unit tests"
I am using `EmbeddedCassandraServerHelper` to perform unit tests. Here is my pom

    <dependencies>
       <dependency>
          <groupId>org.apache.nifi</groupId>
          <artifactId>nifi-api</artifactId>
          <version>1.4.0</version>
       </dependency>
       <dependency>
          <groupId>org.apache.nifi</groupId>
          <artifactId>nifi-utils</artifactId>
          <version>1.4.

[2018-03-18 12:07] slamdev opened #265 "Allow to override temp directory in AbstractCassandraUnitTestExecutionListener"
In the **AbstractCassandraUnitTestExecutionListener#startServer** the **EmbeddedCassandraServerHelper#startEmbeddedCassandra** method is called without specifying the any particular temp directory. That's why **DEFAULT_TMP_DIR = "target/embeddedCassandra"** is used.

When the library is used in the gradle-managed projects it becomes a bit wired, since gradle uses *build* directory for outputs.

It

[2018-03-20 10:45] lukasz-gosiewski commented on #249
I will add some details to this issue instead of starting a new one. For today, cassandra-unit still crashes on startup on Java 9. I created a sample demo project to reproduce the issue. Both Mave and Gradle are affected. Here's the stacktrace:

`java.lang.ExceptionInInitializerError
	at org.cassandraunit.utils.EmbeddedCassandraServerHelper.mkdir(EmbeddedCassandraServerHelper.java:302)
	at org.cas

[2018-03-20 10:50] lukasz-gosiewski commented on #249
@nachii
Could you please explain this a bit more?

Is this working?

[2018-03-20 13:09] mp911de commented on #249
Looking at [CASSANDRA-9608](https://issues.apache.org/jira/browse/CASSANDRA-9608):

This ticket seems to remain open for quite a while.

[2018-03-20 13:29] jsevellec commented on #249
Yes, the main problem is that cassandra-unit is starting in the same JVM an instance of Cassandra which does not work on Java 9 at the moment...

[2018-03-20 13:34] lukasz-gosiewski commented on #249
@jsevellec
Yup, i understand that. But I'm wondering if there is any fix that will allow us to stay on Java 9. Cassandra as you see won't release support for Java 9 in nearest future, so we need to decide if we can avoid migrating back to Java 8.

[2018-03-21 22:28] nachii commented on #249
@lukasz-gosiewski yes, it's working. I'll try to explain it better.
I created a tiny Spring Boot app with JDK 1.8 that simply start the embedded Cassandra:
[code]

Then I have a Spring Boot app built with JDK 9 where there are the tests that use CassandraUnit.
During the development, I start the tiny app manually and then I launch the tests.
For the build phase, I used this Maven plugin:
[code]
An

[2018-03-28 13:26] fchovich commented on #244
updates?

[2018-03-28 16:03] aroch commented on #244
Don't know if it helps, but we realized a better approach for us would be to test again a real Cassandra on a docker container.

[2018-03-28 16:45] fchovich commented on #244
I was able to solve excluding netty packages from cassandra-driver.

[2018-04-24 08:24] snaketl opened #266 "Allow to use wildcards in @CassandraDataSet"
Allow to use wildcard in @CassandraDataSet annotation like this:

`@CassandraDataSet(value = {"db/*.cql", "db/test/*.cql"}, keyspace = "projectx")`

Why? Avoid to write a lot of values in value array, since we can't use constants or static methods.

[2018-04-26 13:28] JunayedMizan opened #267 "Issues when using different logging framework to Logback"
When we introduced `cassandra-unit` to write integration tests we get the following error message:
[code]

We use a different logging framework to that used in `cassandra-unit` (i.e. Logback) and don't want to migrate to Logback.

I've had a look at the `github` repository for `cassandra-unit` and have noticed that in `org.apache.cassandra.cql3.functions.ThreadAwareSecurityManager`, Logback is har

[2018-05-01 16:45] #255 closed

[2018-05-25 12:19] mariuszeniro commented on #264
I guess removing
   <dependency>
      <groupId>org.slf4j</groupId>
      <artifactId>slf4j-simple</artifactId>
      <version>1.7.25</version>
      <scope>test</scope>
   </dependency>

should help

[2018-05-29 11:43] SvenssonWeb opened #269 "Instantiate Connection Lazy when needed"
When the Embedded Cassandra Instance is created a default cluster/session connection is initiated as well.

https://github.com/jsevellec/cassandra-unit/blob/fec9cb47843b3f9935a0320f24288ed9ab73ff5f/cassandra-unit/src/main/java/org/cassandraunit/utils/EmbeddedCassandraServerHelper.java#L159-L172

When using other configuration than standard, this internal connection will fail and throw exceptions.

[2018-06-04 13:26] jsevellec opened #272 "update to latest version of cassandra-all (3.11.2) and cassandra-java-driver (3.5.0)"

[2018-06-04 13:28] #272 closed

[2018-06-04 13:40] #269 closed

[2018-06-05 13:41] hleb-albau opened #273 "How To Specify Datacenter?"
Hi, we have multidc cassandra cluster. In my tests I want to create embedded cassandra with specified DC. Can't find any info on this topic. Is it possible?

[2018-06-06 12:10] hleb-albau commented on #273
@jsevellec
Can I provide pull request, that will change snitch to GossipingPropertyFileSnitch with rackdc.properties files configuration inside @EmbeddedCassandra?
I Create local implementation, all works fine.

[2018-06-06 12:44] jsevellec commented on #273
The goal of cassandra-unit is to be able to unit test your cassandra calls from your application against one embedded instance of Cassandra. Not sure about your request, can you explain it a bit more in details?

[2018-06-06 14:08] hleb-albau commented on #273
@jsevellec My goal is to write tests for service, that connects to specific cassandra DC. So, for current service, I want to up cassandra with specific DC. Current cassandra-unit uses Datacentreless configuration (**SimpleSnitch** with **SimpleStrategy** replication policy) and by default start cassandra with dc=datacenter1. I can provide PR, that will enable **GossipingPropertyFileSnitch**, that

[2018-06-08 10:41] hochgi commented on #187
@arcesino I agree, thus: #274
In my case it's even worse, since we use Dropwizard Metrics 4, and `startEmbeddedCassandra()` throws an exception and won't start because of it.

[2018-06-28 17:53] yarix commented on #267
I'm facing the same problem with the hard-coded logbacklogger.
 I'm using `cassandra-unit-3.5.0.1` and my project also use slf4j-log4j
[code]
To avoid the multiple binding, I exclude the `logback-classic` from cassandra unit, which resulted in the following error (again due to hard coded class name in `ThreadAwareSecurityManager`
[code]

[2018-07-04 07:47] zygm0nt opened #276 "Error using cassandra-unit 3.5.0.1 in tests - NoClassDefFoundError: Metadata"
I have a dependency conflict in tests when using cassandra-unit, and it gives me the following error:

[code]

It's strange, because the whole code works properly outside tests, so I suppose it's just a conflicting test dependency, but I can't figure out which one to look at.

My versions of cassandra dependencies are as follows:

[code]

The stacktrace above includes calls from initializing class

[2018-07-26 01:58] michaelmior opened #277 "Very verbose logging"
When I run my tests, I get very verbose logging such as the line below. Advice on how to disable this would be appreciated.

[code]

[2018-07-26 21:03] eximius313 commented on #249
https://issues.apache.org/jira/browse/CASSANDRA-9608 is fixed now.

[2018-08-03 10:59] oliverlockwood commented on #267
@jsevellec would you be willing to consider a PR which removes the hard dependency on Logback?

[2018-08-08 08:32] amichair opened #278 "NPE when calling cleanEmbeddedCassandra"
When upgrading from 3.3.0.2 to 3.5.0.1, my tests broke due to an NPE on shutdown. Seems it never initializes the cluster/session so fails to use them to drop the keyspaces. Worked ok in previous versions.

[code]

The workaround is to call

[code]

to initialize the session/cluster, even though this session is not used anywhere in the tests, which is a bit weird. Would be nice if cassandra-unit to

[2018-08-11 07:25] hsn10 commented on #278
yes, i noticed the same problem.

[2018-08-14 09:40] jsevellec commented on #278
Having a look

[2018-08-14 10:05] #278 closed

[2018-08-14 21:32] amichair commented on #278
The fix avoids the NPE, but it also doesn't perform the cleanup (it is simply skipped if the session is null). Perhaps it should actually get a session and do the cleanup? That's why cleanEmbeddedCassandra() was invoked, after all...

(btw it's possible this issue is a result of different users using cassandra-unit in different ways, which were not anticipated by the developers. Some might us getS

[2018-08-22 11:34] kagrze commented on #276
Most likely, the reason is an incorrect version of _netty_ in your project.

[2018-08-30 04:40] abalonperin commented on #163
+1 on the licensing change.

[2018-08-30 04:43] abalonperin commented on #250
A bit late to the party but have you tried:
[code]
?

[2018-08-31 15:07] jaina00 opened #279 "Getting error"
Hi
I am trying to use cassandra unit with scala but getting the below error

my dependency looks like this

[code]

[code]

[2018-08-31 17:14] #279 closed

[2018-09-24 17:02] mindloaf commented on #163
Another +1 for Apache licensing. I'll have to find another solution

[2018-10-13 20:19] rotilho opened #281 "Is production ready?"
I'm working in an embedded application which will handle high volume of data and I'm think to use cassandra for persistence layer.

Is this project production tier or is it just usable for unit test?

[2018-10-15 09:18] jsevellec commented on #281
Hi Felipe,

The project is really oriented to facilitate the implementation of unit
tests. I would not recommend to use it for production. I mean for the run
of the production platform.

Regards,

Jérémy

Le sam. 13 oct. 2018 à 22:19, Felipe Rotilho <notifications@github.com> a
écrit :

--
Jérémy

[2018-10-15 10:27] rotilho commented on #281
Thanks :)

[2018-10-15 10:27] #281 closed

[2018-10-16 14:53] fabianpiau commented on #249
The workaround proposed by @nachii is fine with Java 10, but it is not working with Java 11 (see stacktrace below)

Cassandra is now compatible Java 11.
Are they any plans to make Cassandra unit compatible with Java 11?

`java.lang.ExceptionInInitializerError
	at org.github.jamm.MemoryMeter.measure(MemoryMeter.java:178)
	at org.apache.cassandra.utils.ObjectSizes.measure(ObjectSizes.java:163)
	at o

[2018-10-16 14:57] mp911de commented on #249
@fabianpiau have you tried upgrading to jamm 0.3.2?

[2018-10-16 15:00] fabianpiau commented on #249
No, I see I have a dependency on 0.3.0
Let me try now...

[2018-10-16 15:05] fabianpiau commented on #249
Yes it's working, thanks a lot for the tip!
Still will be nice to have a new Cassandra unit version working with Java 11 out of the box without any hack :)

[2018-10-16 15:10] jsevellec commented on #249
At the end it's just a of dependency management and which dependency version does cassandra-unit bring with him by default

Would you mind to share to propose a PR for CU containing the good dependency versions?

[2018-10-16 15:16] mp911de commented on #249
I'd personally wait until Cassandra 4 is available to get full Java 11 support.

[2018-10-16 15:41] fabianpiau commented on #249
I have created https://github.com/jsevellec/cassandra-unit/pull/282.
Following @mp911de comment, feel free to merge or decline it, if you prefer waiting for a new Cassandra version.

[2018-10-16 15:46] jsevellec commented on #249
thanks for your time!

[2018-10-23 14:19] edwmurph commented on #149
The above workaround is not working for me and I'm seeing this same exact issue with the following:
[code]

And I'm also seeing the following logs:
[code]
Any ideas?

[2018-11-23 08:31] gitaroktato opened #283 "Got AccessDeniedException with Java 9+ on Windows 10 when trying to start CassandraUnit"
With any JDK after Java 8, CassandraUnit fails to start with AccessDeniedException on Windows 10.

After spending some investigation we suspect that `WindowsNativeDispatcher.DeleteFile0` implementation changed and behaving differently. Another thread is holding the file handle for the commit log CassandraUnit tries to delete. Expected behavior should be to delete the file after the handle is relea

[2018-12-08 14:23] nilaybose opened #284 "Sigar Exception -"
How can this be fixed without any work around
org.hyperic.sigar.SigarException: no libsigar-universal64-macosx.dylib in java.library.path

	at org.hyperic.sigar.Sigar.loadLibrary(Sigar.java:172)

	at org.hyperic.sigar.Sigar.<clinit>(Sigar.java:100)

	at org.apache.cassandra.utils.SigarLibrary.<init>(SigarLibrary.java:47)

	at org.apache.cassandra.utils.SigarLibrary.<clinit>(SigarLibrary.java:28)

[2018-12-08 16:53] nilaybose commented on #284
It seems that if we use log4j 1.2 as dependency

testCompile group: 'log4j', name: 'log4j', version: '1.2.17'

**This error will not be logged by Sigar Library ( as native logging is turned off by default )**

We can turn on this logging for the native ( *.so)  by using the system property

System.setProperty("sigar.nativeLogging", "true") ;

[2018-12-08 16:54] #284 closed

[2018-12-17 02:51] veereshwaran opened #285 "Null Pointer exception when starting embedded cassandra with openjdk-11"
Hi,
   Previously my application running with spring boot 1.5 with java 8. I used cassandra-unit for my unit testing. Now upgraded to spring boot version 2.1, My unit tests passes without any issues.
 But the problem is when I change java version 8 to 11 then it thorws null pointer exception during cassandra startup

Currently I am using

openjdk 11.0.1 2018-10-16
OpenJDK Runtime Environment 18.9

[2018-12-17 15:12] Rolice commented on #224
@massenz, thanks for the hint! Actually with me the `$JAVA_HOME` was not set and thus I was hitting this error. After setting it properly (under macOS) it fixed my issues. I have put this in my ~/.bashrc file:

[code]

[2018-12-18 07:21] massenz commented on #224
@Rolice: actually, on MacOS, it's much better to use `libexec`, like this:

[code]
More details [in this gist](https://gist.github.com/massenz/faff155523a50313be6f25a5b631a63d).

[2018-12-21 13:19] veereshwaran commented on #285
Hi Guys
 I think Cassandra has issue with java 11.

[2018-12-21 13:19] #285 closed

[2019-01-16 14:51] ldicarlo opened #287 "@EmbeddedCassandra annotation doesn't contain clusterName"
Hello,
Thanks for your work.
I'm trying to use ```@EmbeddedCassandra``` in my tests, specifying clusterName, host and port as specified [here](https://github.com/jsevellec/cassandra-unit/wiki/Spring-for-Cassandra-unit) (last code snippet).
Unfortunately, the annotation ```@EmbeddedCassandra``` doesn't contains these attributes:
[code]
I'm using :
[code]
on Manjaro Linux, with openjdk 11

Am i miss

[2019-02-21 22:43] vikrantgoel commented on #170
@keks51 What's your reasoning behind it?

[2019-03-01 19:22] jmccaull opened #288 "Help using Spring Data Cassandra @SASI"
I'm doing some testing with Spring data Cassandra and Cassandra unit. I'm setting up Embedded Cassandra with all of the defaults, except the port. I've tried adding the secondary index both through the CassandraAdminTemplate as an execute call and using Springs' @SASI annotation but get the same runtime exception in both cases("com.datastax.driver.core.exceptions.ServerError: An unexpected error o

[2019-03-02 19:08] ratcashdev commented on #277
Yes, please disable DEBUG and create a new build.

[2019-03-11 04:10] javadba commented on #135
I think i am also seeing this problem but am a new user to cassandra so it may be something else.

[2019-03-20 15:37] iemejia commented on #163
+1, to relicense with Apache license @jsevellec please consider this.

[2019-03-20 16:13] echauchot commented on #163
+1, I would really love to use your library in my apache project !

[2019-03-21 23:56] slandelle opened #289 "Compatibility with new driver 4.0"
New major version of the driver is out, see https://github.com/datastax/java-driver/tree/4.x/upgrade_guide.

I guess cassandra-unit will have to depend on java-driver-core-shaded so Netty 4.1 doesn't clash as Cassandra still targets Netty 4.0...

[2019-03-25 11:48] EduardZaft commented on #267
Is here any work on removing the hard coded dependency on logback?

[2019-04-02 07:40] iemejia commented on #163
For those who cannot use this dependency because of licensing issues. You may be interested on taking a look at [Achilles](https://github.com/doanduyhai/Achilles/tree/master/achilles-embedded) which has a more business friendly license (Apache).

[2019-04-02 07:56] echauchot commented on #163
Cassandra-unit is very good but I had to switch from cassandra-unit to [Achilles](https://github.com/doanduyhai/Achilles/tree/master/achilles-embedded) recently because I could not ship cassandra-unit in an Apache project. For those who are interested, here is the commit of the switch:
https://github.com/apache/beam/commit/bee5c7d37170a3e657932343f830e4f9dde0b152

[2019-04-24 18:50] csurfer opened #290 "gradle JUnit test failures"
Cassandra-Unit package version : 3.3.1.2
Gradle version : 5.3

I am trying to run a test with EmbeddedCassandraHelper and have a barrage of issues that I am facing because of "target/embeddedCassandra" being used the root directory for all temp storage.

I have tried changing the tempDir parameter in `EmbeddedCassandraHelper.startEmbeddedCassandra`
1. to "build/embeddedCassandra" and I get `java.n

[2019-04-26 18:32] vaibhav-46 commented on #224
I am hitting a very similar issue as @svenakela. When running with gradle, initially the default 'target/embeddedCassandra' does not work because the folder target does not exist. One solution that I tried was to use a different path, but the relative paths in the config files lead to a NullPointerException. Is there a way to modify the yaml file to change all the "target/embeddedCassandra" to "bu

[2019-05-09 08:18] prashantbhardwaj commented on #283
We are using CassandraCQLUnit in 2 separate test classes. Individual files have many tests. All of these tests are passing when we run each file independently. However when tests of these 2 files get executed during maven clean install, tests of one class pass and other class fail with same error. AccessDenied on commitLog file. Any help please?

[2019-05-09 12:34] jsevellec opened #292 "upgrade cassandra dependencies"
upgrade to cassandra driver 3.7.1 and cassandra 3.11.4

[2019-05-09 13:24] jsevellec commented on #292
done

[2019-05-09 13:24] #292 closed

[2019-06-03 16:20] umangsingh123 commented on #249
Any Update on this Thread .

[2019-06-14 13:34] FearlessHyena opened #293 "Doesn't work with the spring SpringExtension.class"
I'm currently using Kotlin and the SpringExtension::class doesn't seem to work and fails to start the EmbeddedCassandra instance resulting in a `com.datastax.driver.core.exceptions.NoHostAvailableException`

Here are the settings that I've tried with
Neither the `@CassandraDataSet` nor the `@EmbeddedCassandra` seem to be picked up

[code]

Switching to the **SpringJUnit4ClassRunner::class** fixes

[2019-06-14 21:34] jarpz commented on #283
Hi @jsevellec

I'm getting the same error when I compile my project with java 9+ on Windows machines. It's very rare because with java 8 it works perfectly.. Do you have any clue for solve this problem?

[2019-06-14 22:06] jarpz opened #294 "Failed to start EmbeddedCassandra with JAVA 11"
I'm getting a error when embedded cassandra start after upgrade my project to Java 11, otherwise with Java 1.8 works perfectly .

Here my configuration:

[code]

My dependencies:

<cassandra-unit-spring.version>3.11.2.0</cassandra-unit-spring.version>

[code]
And the error I get is:

[code]
Do you have any clue what could be?

[2019-06-18 19:50] asarkar commented on #225
@DavidRG13 Why'd one introduce platform dependency in their build, isn't the whole point of Java to be platform-independent? What is this library for?

[2019-06-28 17:26] ikatraev commented on #294
I am getting something like this when I try to switch to jdk11 from jdk8:
12:01:41.016 [main] DEBUG org.cassandraunit.utils.EmbeddedCassandraServerHelper - Starting cassandra...
12:01:41.016 [main] DEBUG org.cassandraunit.utils.EmbeddedCassandraServerHelper - Initialization needed
12:01:41.026 [main] INFO org.apache.cassandra.config.YamlConfigurationLoader - Configuration location: file:/prj/famc/

[2019-06-28 17:28] ikatraev commented on #294
There is a PR that attempts to fix this I believe:
https://github.com/jsevellec/cassandra-unit/pull/282

[2019-06-28 17:28] ikatraev commented on #294
along with the discussion: https://github.com/jsevellec/cassandra-unit/issues/249

[2019-07-04 07:46] FearlessHyena commented on #293
no one had this issue yet? Want to switch to JUnit 5 but this is keeping me from it

[2019-07-12 18:49] amdelamar commented on #277
Create a `logback-test.xml` file in `src/test/resources` and you can control the logging output for each classpath like so:

[code]

Found here https://stackoverflow.com/a/38400525/7065245

[2019-07-13 05:55] ryoheinagao opened #295 "EmbeddedCassandra cannot start with openj9"
Hi, thanks for useful tools for testing Cassandra.
I found a bug related to jamm's version.

EmbeddedCassandra cannot start with openj9. But it works fine under the same version of OpenJDK HostSpot. I think it is a bug caused by jamm version. The same issue was reported at [here](https://github.com/jbellis/jamm/issues/33). Please verify its version used in cassandra-unit.

The error log is here.
[

[2019-07-22 13:09] ukr20192 commented on #294
When is this getting fixed, i also updated to java11 and embedded server fails to come up

[2019-07-24 19:14] asarkar opened #296 "Versioning scheme is wrong"
Since SEMVAR sorts versions alphabetically, `3.7.1.0` is treated as newer to `3.11.2.0`. See [here](https://search.maven.org/search?q=g:org.cassandraunit%20AND%20a:cassandra-unit&core=gav).

One way to fix this problem is to use double digits for all numbers.

[2019-07-24 19:44] asarkar commented on #248
The [cassandra-all](https://search.maven.org/artifact/org.apache.cassandra/cassandra-all/3.11.4/jar) library references classes that have been removed from Guava, for example `com.google.common.base.CharMatcher.DIGIT`. This causes runtime errors like
[code]

[2019-07-30 04:43] AniruddhaHumane commented on #184
@nguyenxndaidev the link you provided is invalid. How do I change the load order if I am using the datastax core driver to connect to embedded cassandra

[2019-07-30 22:11] velovint commented on #184
@AniruddhaHumane not sure why it doesn't exist in master, but it's still in [2.1.x branch ](https://github.com/spring-projects/spring-boot/blob/2.1.x/spring-boot-samples/spring-boot-sample-data-cassandra/src/test/java/sample/data/cassandra/OrderedCassandraTestExecutionListener.java)

[2019-08-12 18:53] visha-r commented on #294
I am also facing the same issue after updating to Java 11. Any updates on when this will be fixed?

[2019-08-15 15:39] umangsingh123 commented on #294
Any idea When is this going to be fixed

[2019-08-30 08:45] finrod2002 commented on #283
I use cassandraUnit for my integration tests, which I run both on Windows, Linux and also on Windows Linux subsystem. Only in Windows I see the AccessDeniedException when using JDK 11. Linux and Windows Linux subsystem (which I guess can be considered equivalent environments in this context) are working fine.

The exception in Windows is the same as reported by the OP.

For my use cases where I do

[2019-09-10 19:00] nashid opened #297 "Compatibility with DataStax Driver 4.2.0"
Cassandra unit support for the latest DataStax driver 4.2.0

https://github.com/datastax/java-driver/tree/4.2.0
https://docs.datastax.com/en/developer/java-driver/4.2/

[2019-10-11 12:21] jsevellec commented on #296
Yes I know i did a mistake with the versioning.

I would advise to specify the version in the dependency to not take the last one

[2019-10-11 15:03] #296 closed

[2019-10-11 15:04] #297 closed

[2019-10-11 15:07] jsevellec commented on #252
Hi, It's unfortunately a depencency issue..

[2019-10-11 15:07] #252 closed

[2019-10-11 15:10] jsevellec commented on #289
the 4.2 support has been done

[2019-10-11 15:10] #289 closed

[2019-10-11 15:12] jsevellec opened #298 "Cleanup all old deprecated test dataset"

[2019-10-11 15:21] #298 closed

[2019-10-11 18:19] asarkar commented on #296
What was done to resolve this issue?

[2019-10-11 18:28] jsevellec commented on #296
Unfortunately nothing...

[2019-10-12 08:40] jsevellec commented on #277
Hi,

While fixing #297 I also updated the logging dependency and tuned the default log level.

It should be better now

[2019-10-12 08:40] #277 closed

[2019-10-12 08:44] jsevellec commented on #251
Hi,

The json and xml dataset support was for the former Cassandra data model based on column family and is deprecated. The switch to CQL brought the new cassandra data model which is more table oriented. The new dataset supports for XML and JSON needs to be implemented so the dataset structure corresponds to the new cassandra data model.

I need also to update the wiki to remove it for the moment

[2019-10-12 08:44] #251 closed

[2019-10-12 08:50] jsevellec commented on #250
Embedded Cassandra is started once for the JVM. As long as the JVM is started the process is still there (for your unit tests...)

[2019-10-12 08:54] jsevellec commented on #267
The issue should be fixed. The hardcoded dependency  was not on the cassandra-unit side but was coming from the Cassandra dependendy. They fixed it and now. I've updated the cassandra-unit pom.xml to use the newer cassandra version

[2019-10-12 08:54] #267 closed

[2019-10-12 08:59] jsevellec commented on #295
duplicate of #249

[2019-10-12 08:59] #295 closed

[2019-10-12 09:02] #250 closed

[2019-10-12 09:03] jsevellec commented on #231
Hi,

You're totally true... The documentation need a big refactoring....

[2019-10-12 09:06] jsevellec commented on #129
closing the issue as it's now fixed

[2019-10-12 09:06] #129 closed

[2019-10-12 09:07] jsevellec commented on #104
Closing the issue as the topic is outdated

[2019-10-12 09:07] #104 closed

[2019-10-12 09:07] #86 closed

[2019-10-12 09:08] jsevellec commented on #57
Closing the issue as the topic is outdated

[2019-10-12 09:08] #57 closed

[2019-10-12 09:10] jsevellec commented on #213
Closing the issue as the topic is outdated

[2019-10-12 09:10] #213 closed

[2019-10-12 09:13] jsevellec commented on #197
Closing the issue as the topic is outdated

[2019-10-12 09:13] #197 closed

[2019-10-12 09:14] jsevellec commented on #178
Closing the issue as the topic is outdated

[2019-10-12 09:14] #178 closed

[2019-10-12 09:16] jsevellec commented on #159
Closing the issue as the topic is outdated

[2019-10-12 09:16] #159 closed

[2019-10-15 09:38] pyjaime commented on #135
hey @jsevellec, the problem is still there :)

[2019-10-15 12:27] #135 closed

[2019-10-15 12:47] jsevellec commented on #135
Sorry for the latency...

That should be solved.

While waiting for the next release, snapshot is already available with the fix if you want to give it a try  (3.7.1.1-SNAPSHOT : https://oss.sonatype.org/content/repositories/snapshots/)

[2019-10-15 15:29] #262 closed

[2019-10-15 15:35] jsevellec commented on #229
duplicate of #245

[2019-10-15 15:35] #229 closed

[2019-10-15 15:37] #228 closed

[2019-10-15 15:40] jsevellec commented on #210
deprecated since the upgrade to the 4.2.2 of the cassandra java driver

[2019-10-15 15:40] #210 closed

[2019-10-15 15:41] #209 closed

[2019-10-15 15:41] #208 closed

[2019-10-15 15:42] #195 closed

[2019-10-15 15:45] #180 closed

[2019-10-15 15:47] jsevellec commented on #163
Hi guys,

I'm currently considering doing the switch.

[2019-10-16 06:58] #179 closed

[2019-10-16 07:04] #158 closed

[2019-10-16 07:05] #133 closed

[2019-10-16 07:07] #128 closed

[2019-10-16 07:07] #118 closed

[2019-10-16 07:07] #110 closed

[2019-10-16 07:08] #107 closed

[2019-10-16 07:08] #103 closed

[2019-10-16 07:09] #98 closed

[2019-10-16 07:09] #97 closed

[2019-10-16 07:10] #85 closed

[2019-10-16 07:12] jsevellec commented on #74
Hey guys,

Is this still an issue?

[2019-10-16 07:12] #73 closed

[2019-10-16 07:12] #71 closed

[2019-10-16 07:13] #45 closed

[2019-10-23 14:27] lucascp17 opened #299 "Cassandra returning dates prior to the expected"
I have some tables that have date typed colmuns.

When I query values from those tables, the dates are being returned discounted by one day.

Example: If I insert "2019-10-02" into the database, I get "2019-10-01" when I execute the queries.

I tried to configure timezone, local settings and stuff like that, but nothing worked.

Why is this happening?

[2019-10-24 07:34] alivesubstance opened #300 "Release CU to support Cassandra driver version 4.x"
I see master branch has already migrated to Cassandra driver 4.x version. Do you have a plans to release it and deploy into maven repository?

[2019-10-24 20:33] akrystian commented on #216
Is tere any performance tests to proof speed increase? I can make PR. @jsevellec

[2019-10-25 21:09] lucascp17 commented on #299
Cassandra-unit is not causing the trouble.

[2019-10-25 21:09] #299 closed

[2019-11-21 07:33] bbottema commented on #300
Yeah, I'm also running into class not found exceptions, because cassandra unit is behind on the new driver.

[2019-11-22 11:25] jsevellec commented on #300
I've planned to do it soon. There's already a snapshot available if you want to give it a try before the proper release

[2019-12-03 17:03] umangsingh123 commented on #294
@jsevellec any update on this . This has been pending from a long time.

[2019-12-04 12:23] jelmerk commented on #135
When is this being released?

[2019-12-05 01:22] samanthakem commented on #135
Yeah, when is it going to be released?

[2019-12-20 13:05] brianmhess opened #301 "Errors on startup"
I am using CassandraUnit with a small Java app.  I get the following errors on startup:

[code]

I am using version 3.7.1.0.  It seems to be similar to issue 225, but I couldn't get the work around to work.

[2020-01-07 09:09] sethishi commented on #300
Hi @jsevellec , would you be able to provide any sort of time frames for the release. I have been able to use the snapshot version fine, still testing it and no functional issues so far.

[2020-01-07 09:19] jsevellec commented on #300
@sethishi thanks for the feedback. I'll release it soon

[2020-01-07 12:54] bbottema opened #302 "In SNAPSHOT and master only in Windows getting error "Expecting URI in variable""
When using the 4.2.2.0-SNAPSHOT or a new snapshot from the current master branch, I get the following error:

What am I missing? I'm not providing any config file myself as everything is configured through the (4.3.0) driver Java API.

[2020-01-07 14:44] bbottema commented on #302
I've located the cause of the issue.

It only fails on Windows, because [here](https://github.com/jsevellec/cassandra-unit/blob/master/cassandra-unit/src/main/java/org/cassandraunit/utils/EmbeddedCassandraServerHelper.java#L121) you define a file path with forward slashes, but [here](https://github.com/PaytmLabs/cassandra/blob/master/src/java/org/apache/cassandra/config/YamlConfigurationLoader.jav

[2020-01-08 07:59] scalahub opened #304 "Cassandra-unit CQLDataLoader does not work with latest datastax"
Currently, the latest release is incompatible with the latest Datastax version, although the master branch of this repository has the fixed version.

In release 3.11.2.0, (also on Maven central), the code refers to the package `com.datastax.driver.core` which is no longer present. The below snippet is from the file `org/cassandraunit/CQLDataLoader.java`

	package org.cassandraunit;

	import com.da

[2020-01-08 08:08] bbottema commented on #302
Actually this fixes the failing if-check, but the URL is stil not being resolved properly due to separators not being escaped by `File.getAbsolutePath()`.

I'm still figuring out how to solve this properly.

[2020-01-08 08:42] bbottema commented on #302
Ok, first of all the if-check in cassandra-all is wrong. It's comparing the file protocol and has nothing to do with OS specific file path separators; it should always be `file://` (or actually [file:/ or file:///](https://en.wikipedia.org/wiki/File_URI_scheme), so comparing with `"file:" + File.separator + File.separator` is wrong, even though it seems to work anyway.

Second, to load files in a

[2020-01-08 11:15] bbottema commented on #302
I just successfully tested this in our production code, with my own SNAPSHOT.

[2020-01-08 20:44] samanthakem commented on #294
I would like to have an update as well.

[2020-01-09 07:44] bbottema commented on #302
Note that cassandra-driver < 4.x has a [critical OWASP finding](https://nvd.nist.gov/view/vuln/search-results?adv_search=true&cves=on&cpe_version=cpe%3A%2Fa%3Aapache%3Acassandra%3A3.8). This is the reason we are upgrading to 4.x and we really need cassandra-unit.

[2020-01-09 14:26] #302 closed

[2020-01-09 14:44] jsevellec opened #305 "update to cassandra java driver 4.3.1 and cassandra 3.11.5"

[2020-01-09 14:45] #305 closed

[2020-01-14 15:07] jonenst opened #306 "Don't reset schema between test classes for performance"
Hi,
when you have many tests, it becomes prohibitively expansive to recreate the schema for every test method (like CassandraUnitTestExecutionListener or CassandraUnitDependencyInjectionTestExecutionListener do).  CassandraUnitDependencyInjectionIntegrationTestExecutionListener partially solves the performance problem by resetting the schema once per class. But when you have many test classes the

[2020-01-22 06:06] tejapullamsetty commented on #184
Could you please tell me the order, while i'm clicking your souution here, getting web page not found 404.

[2020-01-26 09:48] nguyenxndaidev commented on #184
Hi @tejapullamsetty, please check [velovint's comment above](https://github.com/jsevellec/cassandra-unit/issues/184#issuecomment-516615678)

[2020-02-04 13:24] sethishi commented on #300
Hi Guys, I see a new version on maven repository , assuming it is for the latest driver version 4.x
`
testCompile group: 'org.cassandraunit', name: 'cassandra-unit', version: '4.3.1.0'
`
My tests have started failing for the latest version compared to 4.2.2.0-SNAPSHOT. Are you aware of any compatibility issues?

[2020-02-04 14:26] DBarbarian commented on #283
I don't know if this helps in any way, but we have recently upgraded to CassandraUnit 4.3.1.0 and the problem still exists there. Also I have reproduced the issue in Linux when running on a mounted Windows disk.

[2020-02-05 13:04] bbottema commented on #300
What's the current status?

[2020-02-05 14:55] jsevellec commented on #300
The release has been done.  I missed this issue but yeah artifacts are available :
https://github.com/jsevellec/cassandra-unit/wiki/changelog

[2020-02-06 10:12] lviggiano commented on #155
Is it possible to have the server running in-process without using network ports? (like h2 database does)
I'm having issues on company's bamboo continuous integration. Maybe a work-around could be to verify that ports are available before binding them?

[2020-02-10 09:17] teskekarol commented on #294
+1

[2020-02-14 11:14] TvdW opened #307 "netty not included in cassandra-unit-shaded 4.3.1.0"
The pom.xml of cassandra-unit-shaded specifies that it should shade `io.netty`, however for some reason it doesn't end up doing so, as of the 4.3.1.0 release. This renders the shaded package useless, as it cannot start Cassandra.

Compare:

[code]

I suspect this is somehow related to changes in the dependency tree from the com.datastax.oss modules, but it's not clear to me what the fix should be.

[2020-02-14 11:16] TvdW commented on #307
... this would be even better if I mentioned what actually goes wrong.

[code]

[2020-02-17 07:26] t2y commented on #248
In my environment, I could build using guava 25.1 without an error. But, the error occurred using guava 26.0.

[code]

[code]

[2020-02-25 19:39] amichair commented on #222
Although the code moved around, the underlying issue is still there - unquoted keyspace name in the cql statements will fail on a case-sensitive keyspace name (anything not lowercase). The IF EXISTS was added since this issue was created, so it doesn't throw an exception, which is an improvement. However the keyspace will not be dropped, which is the assumed desired result.

[2020-05-05 16:23] mranftle commented on #294
Any updates?

[2020-05-16 07:03] cmackenzie1 commented on #294
@jsevellec Any updates on this? Cassandra Unit does not work on any Java version after Java 8 - which also happens to reach End of Life December 2020. There is a PR #282 that claims to resolve the issue that has sat open for almost 2 years.

Similar issues
#249

[2020-05-16 09:17] jsevellec commented on #294
Hi Guys,

I'm sorry to hear that.

Which version of cassandra-unit are you using? The latest version of cassandra-unit is 4.3.1.0 and is built and tested with java 11... Is this issue still here with this latest version?

[2020-05-18 09:09] DanielSvanstrom commented on #294
Yes, it is in the latest version. I have just re-verified it using cassandra-unit 4.3.1.0. I get the same exception as in the original post and I get it when running in Windows or a Windows disk mapped to a Linux virtual machine. It seems to work fine when running in Linux on a local disk.

[2020-05-18 09:16] DanielSvanstrom commented on #294
Is this issue the same as #283 ?

[2020-05-18 09:23] jsevellec commented on #294
Yes it is. It's the combo windows FS + Java 11

[2020-05-18 10:14] DanielSvanstrom commented on #294
And since PR #282 was mentioned to possibly fix this I tried applying the latest Jamm version as well. That does not solve the problem.

[2020-05-24 23:32] cmackenzie1 commented on #294
@jsevellec It looks to be an issue with dependency versions and Spring Boot.

From [Spring Data Cassandra](https://spring.io/projects/spring-data-cassandra)

Cassandra Unit 4 looks like it uses the `DataStax Java Driver 4.x`, which is incompatible with  Spring Boot 2.x

Edit: looks like Spring Boot 2.3.0 will use the 4.x driver. https://spring.io/blog/2020/05/15/spring-boot-2-3-0-available-now

[2020-05-25 09:22] nikeee commented on #306
Does [this change](https://github.com/jsevellec/cassandra-unit/commit/4167362d5e073bc7788ffecfd741f618c0bf4026) help in this case? I think we have a similar issue with our tests - they just take too long. Since the mentioned change is not released yet, I cannot say anything about whether it improves anything for us.

[2020-05-25 11:39] jsevellec commented on #306
Hi @nikeee The change you mentioned should improve the situation. As mentioned it's not yet released but you can give it a try with latest published snapshot version of cu (4.3.1.1-SNAPSHOT : https://oss.sonatype.org/content/repositories/snapshots/)

[2020-05-26 14:22] jarpz commented on #294
Cassandra-unit fail since spring-boot 2.2.X where datastax driver was 3.X version, just in spring-boot 2.3.X they upgrade the driver version. The problem with this issue always was using java 11 on windows platforms with 2.2.X spring versions

Regards

[2020-06-10 13:50] acurvers opened #311 "Shutdown after tests in CI-CD"
How to shutdown embeded cassandra on linux/windows after tests are run. and how to set this up in CI CD

Current sittuation
Concerning: cassandra-unit-spring
CI CD, jdk8 maven3 image

On test failure in CICD the test is ended, and i suppose the JVM shutdown
on test success in CICD the mvn test  does not return because Embedded Cassandra keeps running.

Thank you for the great project and your repl

[2020-06-10 14:01] acurvers commented on #185
I have same issue but on linux on a CD CD pipeline,
it just keeps running

[2020-06-26 07:57] jffourmond commented on #294
CassandraUnit 4.3.1.0 runs an embedded Cassandra 3.11.5. Cassandra 3 requires Java 8. How could CassandraUnit work with Java 11 ?

[2020-07-06 10:27] bapostol91 commented on #307
same issue happens to me...

[2020-07-08 09:19] PeterFras commented on #307
We're in the same boat. Latest version of the library suffers from ClassNotFound exceptions.

[2020-07-11 07:24] Crovitz commented on #307
I also had the above problem, I understood that there is currently no library that would allow creating embedded Cassandra for testing with Spring 2.3.x and Java 11.

[2020-07-12 06:36] bapostol91 commented on #307
hi,
for the moment i used test containers for testing cassandra in java 11 and worked like a charm.

All you need to do is:
[code]

[2020-07-14 12:56] holub commented on #307
I've managed non shaded version work with SpringBoot 2.3.1
[code]

You must also make sure you use old version of Google Guava in the project **25.1-jre**

[2020-07-15 13:29] patpatpat123 opened #313 "Cassandra-unit, Integration test during org.springframework.boot:spring-boot-maven-plugin:X.X.X.RELEASE:start (pre-integration-test)"
Hello Cassandra-unit team,

First of all a big thank you for this cool project, hope you are safe.
My team and I are working with Springboot 2.3.1 and reactive Cassandra, and this project is helping us a lot with our tests!

I have a question (as I do not want to categorize a bug without further understanding).
Is it possible to run the embedded Cassandra during spring-boot-maven-plugin:X.X.X.RELE

[2020-07-15 14:05] Chr3is commented on #307
I switched to testcontainers as well:

[code]

[code]

Inspirered from https://stackoverflow.com/questions/57529031/how-to-use-testcontainers-cassandra-with-spring-data-for-apache-cassandra

[2020-07-15 18:06] Crovitz commented on #307
Test containers are the great way for local junit tests, but unfortunately for eg jenkins when we don't want to use docker is useless. I'm still thinking how to test cassandra without docker :/

[2020-07-15 19:16] Chr3is commented on #307
@Crovitz Why do you don't want to use docker on your jenkins? We're using these testcontainers without any issues on our jenkins nodes eg. for frontendtests with different browsers and now for cassandra.

[2020-07-15 19:48] Crovitz commented on #307
@Chr3is okey perhaps i should change my deployment way, but does it really affect the length of deploy, because it must run docker and container with exposed port?

[2020-07-15 20:08] Chr3is commented on #307
@Crovitz in our case we have nodes which run directly on hardware and nodes which are run on vms. But docker is always directly installed on the host so builds running with jenkins can access the docker deamon. This means builds won't start a docker deamon - the deamon is running the whole time. The most expensive part is probably downloading the image but this should be cached on the host machine

[2020-07-15 20:27] Crovitz commented on #307
@Chr3is thank you for reply, sound like a great solution. I will try to do it like you ;)

[2020-08-02 01:41] Bing-ok opened #314 "“NoSuchMethodErrors” due to multiple versions of io.dropwizard.metrics:metrics-core:jar"
## Issue description
Hi, there are multiple versions of **_io.dropwizard.metrics:metrics-core_** in **_cassandra-unit-master\cassandra-unit_**. As shown in the following dependency tree, according to Maven's “nearest wins” strategy, only **_io.dropwizard.metrics:metrics-core:3.1.5_** can be loaded, **_io.dropwizard.metrics:metrics-core:3.1.0_** and **_io.dropwizard.metrics:metrics-core:4.0.5_** wi

[2020-08-02 01:41] Bing-ok commented on #314
Could you help me review this issue? 👍 Thanks! @jsevellec

[2020-08-13 20:52] stonedu1011 commented on #307
I'm having the same issue. The cause of it is that `io.netty` is transparent dependency of Cassandra's `java-driver-core`, which is marked "optional" in `cassandra-unit`. Therefore, `cassandra-shaded` doesn't have dependency on `io.netty` at all.

I solved this issue by having my own `cassandra-unit-repack` project that tweak the dependency and shading configurations. It works fine with spring-boo

[2020-08-18 06:25] jsevellec commented on #307
Hi @stonedu1011 , Do you mind to provide a PR about that?

[2020-08-19 16:05] whitingjr commented on #294
It's clear Cassandra 4.0 is the first version of Cassandra to support JDK11. Announced in an [article](https://cassandra.apache.org/doc/latest/new/java11.html) on the news page and tracked on this [issue](https://issues.apache.org/jira/browse/CASSANDRA-9608).
 To progress this issue further we need to version bump Cassandra to the 4.x release.

[2020-09-01 09:40] whitingjr opened #315 "Vesion bump Cassandra Server to 4.x release to support migration to JDK11."
Hi,
 I am interested in seeing Cassandra Unit become compatible with JDK11. Which means upgrading to Cassandra Server 4.x release. The initial release that [supports JDK11](https://cassandra.apache.org/doc/latest/new/java11.html).
@jsevellec  Is there any interest in upgrading Cassandra Unit to do this ?

[2020-09-02 15:09] sean-heller commented on #314
i'm seeing something similar in my projects, would love an update on this! thanks!

[2020-09-03 01:13] asarkar commented on #315
Apart from supporting JDK11, Cassandra 3.11.x uses an ancient Guava version that causes this issue:
https://issues.apache.org/jira/browse/CASSANDRA-15245

[code]

They upgraded Guava in v4 by the ticket I filed.
https://issues.apache.org/jira/browse/CASSANDRA-15248

[2020-09-07 10:53] whitingjr commented on #315
@asarkar good to know this potential issue has been solved.

[2020-09-07 16:29] asarkar commented on #315
“Potential issue”?

[2020-09-17 07:56] KovaxG opened #316 "Unable to check disk space available to target/embeddedCassandra/commitlog"
Hello, I am trying to run a project on my local computer, but I get the following when trying to run unit tests.

[code]
Some other information:

[code]

I have been trying to get to the bottom of this for a day, but to no success. I use Manjaro Linux, and I have no idea why cassandra has issues acessing the `target/embeddedCassandra` folder. I also couldn't really find this issue online.
I would

[2020-09-24 09:40] whitingjr commented on #315
@asarkar  the issue you solved already.

[2020-09-27 12:08] asarkar commented on #293
I've created a [cassandra-unit-spring](https://github.com/asarkar/cassandra-unit-spring) library that starts the Cassandra server and makes the ports available as Spring Boot environment properties. It works with JUnit 5, and is designed like the `@AutoConfigureWireMock` provided by Spring Cloud.

[2020-09-27 12:11] asarkar opened #318 "Add an isRunning method to EmbeddedCassandraServerHelper"
Since there's no good way to stop the server, it is helpful to know if it's already running. This can be trivially achieved by checking `EmbeddedCassandraServerHelper.cassandraDaemon != null` in an `isRunning` `public` method.

[2020-09-27 12:16] asarkar opened #319 "log4j config copy fails in EmbeddedCassandraServerHelper"
Running two test classes that both start the server fails, because the first one leaves the `target/embeddedCassandra/log4j-embedded-cassandra.properties` behind, and [this line](https://github.com/jsevellec/cassandra-unit/blob/master/cassandra-unit/src/main/java/org/cassandraunit/utils/EmbeddedCassandraServerHelper.java#L140) of code fails.

Same problem happens if a test is aborted in the middle

[2020-09-27 12:21] asarkar opened #320 "Upgrade hibernate-validator"
cassandra-unit brings in `org.hibernate:hibernate-validator:4.3.0.Final`, which was last used when dinosaurs roamed the earth 😄. Any recent project, like Spring Boot, wants newer versions, and there is a runtime error.
[code]

[2020-10-06 15:46] erwanJarno commented on #248
// https://docs.gradle.org/current/userguide/dependency_downgrade_and_exclude.html
    testImplementation("org.cassandraunit:cassandra-unit-spring:4.3.1.0") {
        testImplementation("com.google.guava:guava") {
            version {
                // https://github.com/jsevellec/cassandra-unit/issues/248
                // https://issues.apache.org/jira/browse/CASSANDRA-15245
                s

[2020-12-17 08:37] jffourmond commented on #306
Here's a modified startServer method from AbstractCassandraUnitTestExecutionListener that does not create the keyspace before each test class :

`   protected void startServer(TestContext testContext) throws Exception {
        EmbeddedCassandra embeddedCassandra = Objects.requireNonNull(AnnotationUtils.findAnnotation(testContext.getTestClass(), EmbeddedCassandra.class),
                "Cassandra

[2020-12-17 08:43] jffourmond commented on #306
To solve this issue, you can write your own AbstractCassandraUnitTestExecutionListener implementation that only loads the cassandraDataSet if the server is not initialized, and call the startServer method from your own AbstractCassandraUnitTestExecutionListener implementation, which would look like this :

  @Override
  public void beforeTestClass(TestContext testContext) throws Exception {
    st

[2021-01-21 13:08] lmcdasi opened #321 "InvalidQueryException: Virtual keyspace 'system_views' is not user-modifiable when using Cassandra4 with .InvalidQueryException: Virtual keyspace 'system_views' is not user-modifiable"
I'm using Cassandra#4 & JDK11 - and it works well until I add the annotation:

@CassandraDataSet(value = {"schema.cql"}, keyspace = "keyspace")

Once I do that the EmbeddedCassandraServerHelper will create a session which will be cleared in the "after" methods.

But, in the helper the new system virtual keyspaces from Cassandra4 are missing - see line how: private static final Set<String> systemKe

[2021-02-01 14:38] Dionakov commented on #316
Hello,
I don't know if you're still encountering this issue but it might help someone else.
I had the same issue running Manjaro. I did a full system upgrade and installed kernel linux511 and it solved the issue.

[2021-03-01 18:53] nebulorum commented on #248
Plus one to this issue but with Java 30.1-jre.

[2021-04-27 10:11] RuslanPopenko commented on #249
Hello guys!

Have you resolved this issue?

[2021-04-29 17:33] guipadua commented on #319
+1 I have the same issue

[2021-04-30 05:05] asarkar commented on #315
Duplicate of https://github.com/jsevellec/cassandra-unit/issues/294.

[2021-04-30 05:05] asarkar commented on #294
Any chance this might be resolved in this decade? Can we help?

[2021-04-30 11:52] wakingrufus commented on #294
Csssandra 4 is expected within a month from now

[2021-05-14 18:49] wakingrufus commented on #315
I have a working version in my PR here: https://github.com/jsevellec/cassandra-unit/pull/325

[2021-05-14 18:50] wakingrufus commented on #321
I fixed this in my PR here: https://github.com/jsevellec/cassandra-unit/pull/325

[2021-05-14 18:51] wakingrufus commented on #294
I have a PR of this lib working with the cassandra 4 RC1: https://github.com/jsevellec/cassandra-unit/pull/325

[2021-05-21 22:02] asarkar commented on #248
This issue been open for almost 4 years, and the only workaround offered is to use an ancient Guava version? There's also another long standing ticket for supporting Java 11, which has been around for 3 years. The general vibe I get from using the cassandra-unit library is "we have created a library, thanks, $^% you very much".

[2021-05-25 10:50] Joseph-Kuttivelil opened #326 "cassandra-unit not working for libthrift 0.14.0 version"
I am currently using cassandra-unit ver 3.11.2.0 which internally is using libthrift 0.13.0 which works fine. Although a vulnerability was resported for libthrift ver 0.13.0 (https://snyk.io/vuln/SNYK-JAVA-ORGAPACHETHRIFT-1074898)  which got fixed in 0.14.0 version. Now on using libthrift ver 0.14.0 we are getting the following error when we try to compile the application.
[code]
On checking the i

[2021-06-14 17:14] claudioabudio opened #327 "[2021-06-14T14:58:06.055Z] org.apache.cassandra.exceptions.ConfigurationException: Unable to check disk space available to target/embeddedCassandra/commitlog. Perhaps the Cassandra user does not have the necessary permissions"
This happens on a jenkins build, which i believe runs on linux, I don't believe it happens on windows where we run our local builds:
Also note this does not happen always, sometimes it does , sometimes it does not, so could it be a sort of race condition ?

Full exception below:

``
[2021-06-14T14:58:06.055Z] 2021-06-14 14:58:05.790 [main] ERROR c.j.c.m.h.f.f.b.c.EmbeddedCassandraSetup - Can't sta

[2021-06-14 18:40] claudioabudio commented on #327
so the issue happens within the call to : ``
      DatabaseDescriptor.daemonInitialization();
            cleanupAndLeaveDirs();
            CountDownLatch startupLatch = new CountDownLatch(1);
            ExecutorService executor = Executors.newSingleThreadExecutor();
            executor.execute(() -> {
                cassandraDaemon = new CassandraDaemon();
                cassandraDaemon.acti

[2021-06-22 16:29] vasigorc commented on #149
Same as above:
[code]

[code]

[2021-07-05 06:47] li-boxuan commented on #163
@jsevellec Are you still considering doing the switch?

[2021-07-21 08:20] amitdivyansh commented on #283
Did this issue resolved? Can we have update on this please?

[2021-08-19 19:54] wakingrufus commented on #314
I have solved this problem for myself by adding io.dropwizard.metrics to the list of shaded (and relocated) dependencies in cassandra-unit-shaded

[2021-10-12 01:00] An-Nadein opened #329 "com.datastax.oss.driver.api.core.servererrors.InvalidQueryException: Virtual keyspace 'system_views' is not user-modifiable"
setup:
jdk 17
junit 5
maven 3.6.3
**cassandra driver 4.9**

I'm getting `com.datastax.oss.driver.api.core.servererrors.InvalidQueryException: Virtual keyspace 'system_views' is not user-modifiable` when calling
[code]

I suspect it's due to the `system_views` being omitted in the `EmbeddedCassandraServerHelper`. What's the best way to fix it?

[2021-10-29 08:53] nikeee commented on #306
@jsevellec any chance to get this released?

[2021-11-08 11:15] amichair opened #331 "ClassNotFoundException: org.apache.cassandra.thrift.Cassandra$Iface"
When attempting to upgrade to 3.11.11, the following exception is thrown (same code in 3.11.10 works fine):

Exception (java.lang.NoClassDefFoundError) encountered during startup: org/apache/cassandra/thrift/Cassandra$Iface
java.lang.NoClassDefFoundError: org/apache/cassandra/thrift/Cassandra$Iface
        at org.apache.cassandra.service.CassandraDaemon.initializeClientTransports(CassandraDaemon.j

[2021-11-22 14:03] miikeat opened #332 "CU hangs on CommitLog creation with Java 17 - Update cassandra-all to 4.0.1 to support Java 17"
When I try to run cassandra-unit in java17 it hangs in AbrstactCommitLogSegmentManager upon calling create segment.
After some digging I assume cassandra-all 3.1.1 does not support Java 17.
I tried to update the dependency but the yaml files aren't compatible.

I would be really nice to use this library! Are there any plans to switch cassandra-all to V4?

[2021-12-30 12:36] nikeee commented on #320
I'm currently blocked by this issue. Anything I can do to resolve this?

[2021-12-30 12:38] asarkar commented on #320
@nikeee This projects appears to be unmaintained. Fork your own?

[2022-01-03 10:48] nikeee commented on #320
@asarkar We're currently evaluating migrating to this project:
https://github.com/nosan/embedded-cassandra-spring-boot-starter

[2022-01-07 12:54] Saif-Haider commented on #320
try adding this
`<dependency>
    <groupId>org.hibernate</groupId>
    <artifactId>hibernate-validator</artifactId>
    <version>6.0.13.Final</version>
</dependency>`

[2022-01-07 12:56] asarkar commented on #320
@Saif-Haider Did you read above that there's a runtime error when a newer version is added?

[2022-01-08 08:41] Orange-apples commented on #225
use  docker , how to create the .so file in the container

[2022-01-19 18:54] GDownes commented on #307
Is there any workaround for this issue, enabling the use of the shaded jar?
 Any plan to merge the Pull Request?

[2022-01-21 12:35] nikeee commented on #320
That old dependency is a transitive dependency of cassandra:
[code]

So updating cassandra might solve the issue.

Edit:
Updating `org.apache.cassandra:cassandra-all` to `3.11.11` removes that library from the transitive dependencies. Going to v4 would likely resolve this issue, too (#325 would resolve this issue).

[2022-02-15 13:38] tashoyan opened #334 "Misleading error message in YamlConfigurationLoader.loadConfig(): "Invalid yaml""
If the method `YamlConfigurationLoader.loadConfig()` is not able to parse the YAML config file, it throws a `ConfigurationException`. For example:
[code]
This error message is misleading - a user may think, that the YAML config file is malformed. In my case, the real cause was an incompatible version of Guava library in the classpath:
[code]

The problem is, that the `ConfigurationException` misse

[2022-02-23 09:04] JukkaOravasaari opened #335 "Windows 10: Expecting URI in variable"
cassandra-unit: **4.3.1.0** (https://mvnrepository.com/artifact/org.cassandraunit/cassandra-unit/4.3.1.0)
OS: Windows 10
openjdk version "1.8.0_322"
OpenJDK Runtime Environment (Temurin)(build 1.8.0_322-b06)
OpenJDK 64-Bit Server VM (Temurin)(build 25.322-b06, mixed mode)

Embedded Cassandra startup in Scala:

[code]

Error:

[code]

There is no such issue when running cassandra-unit in Linux.

[2022-03-11 23:14] bhumir81 opened #336 "Guava library issue post 25 jre"
java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.NoSuchFieldError: DIGIT
com.datastax.oss.driver.api.core.servererrors.ServerError: java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.NoSuchFieldError: DIG

[2022-03-24 05:16] sampathkdhandu commented on #283
Any update on this issue?

[2022-08-25 10:48] oneiros-de opened #339 "Is this project still alive?"
The last commit was on 2020-02-14, it has 62 open issues and 13 merge requests.
And a main contributor (@jsevellec ) was last active on this platform on 2021-03-10.

[2022-09-19 11:45] AdrienNguyenWorldline opened #341 "Version for Cassandra 3.11.11"
There were many breaking changes in Cassandra 3.11.11

Last version of cassandra unit is compatible.

Would it be possible to get a build that works with Cassandra 3.11.11

https://ossindex.sonatype.org/component/pkg:maven/org.apache.cassandra/cassandra-all@3.11.10
Has an OSS CVE : https://ossindex.sonatype.org/vulnerability/CVE-2021-44521?component-type=maven&component-name=org.apache.cassandra/c

[2022-09-21 14:45] aaroncoville opened #342 "Using cassandra-unit with M1 (ARM64), JDK11 and cassandra v3"
I ran across a few issues mentioned for this library and wanted to share a solution that worked for me. Your mileage may vary.

I have an application that is still using cassandra-unit v3.11.2.0. This will not work as-is with JDK11 and/or M1 mac and you are likely to see an error along the lines of

`CassandraDaemon.java - The native library could not be initialized properly.`

The root issue, at